<div class="map-bg">
	<nav class="common-title">
		<a href="#restaurantList" class="head-rest-icon"></a>
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3>餐馆地图</h3>
	</nav>
</div>
<div class="map-wrap">
	<div id="googleMap4" style="height:100%;">
		
	</div>
</div>
<div class="map-fix-rest">
<div class="swiper-container" id="restaurantMaps-swiper">
   <div class="swiper-wrapper" >
	    <div class="swiper-slide">
	    	<div class="tab-swiper-wrap" style="padding-top:10px;">
				<div class="wrap-border clearfix" style="position:relative; padding-bottom:0;">
				    <div class="rest-fav-this"></div>
					<div class="radius-like" style="margin-right:0;">
						<div class="radius-num-show">
							<span><%=parseInt(data[0].total_rest_compliments_perc)%></span>%<br>喜欢
						</div>	
					</div>

					<div class="map-rest-img">
						<%if(data[0].concat_prof_photo_url_keyval){%>
							<img src="<%=data[0].concat_prof_photo_url_keyval.split(',')[0]%>">
						<%}else{%>
							<img src="imgs/map-img.jpg">		
						<%}%>
						<i></i>
					</div>
					<div style="margin-left:110px;">
					<h3 class="rest-name-title"><%=data[0].rest_name%></h3>
					<p class="rest-info-show" style="padding-top:5px;"><%=data[0].cuisine_type%><span style="color:#ff8b4c; padding:0 10px;"><%=data[0].price_level%></span><span style="color:#0bbc13;">20%off</span><br><%=data[0].chihuo_distance%>公里</p>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>		
</div>	
    <div class="rest-fix-bottom">
		<ul class="clearfix">
             <li class="cur">
                <a href="#"><img src="imgs/bottom-red1.png">
                <p>首页</p>
                </a>
              </li>
              <li>
                <a href="#chatAdd"><img src="imgs/detail-icon10.png">
                <p>聊天</p>
                </a>
              </li>
              <li style="width:24%; position:relative;">
                <a href="#restaurantWishes">
                <div class="rest-bottom-middle"></div>
                </a>
              </li>
              <li class="message-remind">
                <a href="#myMessage2"><img src="imgs/bottom-h3.png">
                <p>动态</p>
                </a>
              </li>
              <li id="msgRemind">
                <a href="#myIndex"><img src="imgs/bottom-h4.png">
                <p>我的</p>
                </a>
              </li>
        </ul>
	</div>