<div class="set-bg" style="padding-bottom:120px;">
	<div class="food-bg opacity-bg">
		<nav class="common-title">
			<a href="#map" class="head-rest-icon"></a>
			<a href="javascript:history.go(-1);" class="common-return"></a>
			<h3><%=newChihuo.localize('nearby_restaurants')%></h3>
		</nav>
		<ul class="rank-ul clearfix">
			<li><p><%=newChihuo.localize('global_var_like_percentage')%><i></i><i></i></p></li>
    		<li><p><%=newChihuo.localize('global_var_price')%><i></i><i></i></p></li>
    		<li class="cur toggle"><p><%=newChihuo.localize('global_var_distance')%><i></i><i></i></p></li>
		</ul>
	</div>
	<div class="container-down">
	<div class="rest-list-wrap" style="padding-bottom:0;">
	<%_.each(data, function(d,i) {%>
		<div class="wrap-border clearfix">
		<a href="#restaurant/<%=d.rest_id%>">
			<div class='clearfix'>
			
			   <div class="food-img">
	                <img src="<%if(d.rest_profile_photo_url){%><%=d.rest_profile_photo_url.split(',')[0]%><%}else{%>imgs/map-img.jpg<%}%>">
	           </div>
	           <div style="margin:0 5px 0 100px; position:relative;">
	                <%if(d.cust_distance){%><span class="position-distance"><%=newChihuo.showDistanceInfo(d.cust_distance.toFixed(1))%></span><%}%>
	                <h3 class="rest-name-title" style="margin-right:60px;"><%=i+1%>. <%=d.rest_name%></h3>
					<p class="rest-info-show" style="padding-top:0; height: 48px; overflow: hidden;">
					<%if(d.total_likes_perc){%><span class="reset-style reset-bg3" style="float:right; margin-top:1px;"><%=parseInt(d.total_likes_perc*100)%>%</span><%}%>
					<%if(d.total_other_custs){%><span class="reset-style reset-bg6" style="float:right; margin-top:1px;"><%=d.total_other_custs%></span><%}%>
					<span style="color:#ff8b4c; padding-right:10px;"><%=d.rest_avg_pricelevel_per_person%></span><span style="color:#0bbc13;"><%if(d.rest_dicount_save){%><%=d.rest_dicount_save%>off<%}%></span><br><%=d.cuisine_type%></p>
					<p class="rest-info-show"  style="padding-top:0; font-size:12px; line-height:20px;"><%if(d.address){%><b class="address-set"><%=d.address%></b><%}%></p>
	           </div>
         </div>
         <%if(d.last_review_details){%><b class="address-set" style="padding:0 10px;color:#333;"><%=d.last_review_details%></b><%}%>
		</a>
		</div>
	<%})%>
	</div>
	</div>
	<div class="loading-wrap" id='specialLoad'>
	    <p class="loading-step1" style="display:none;">加载更多</p>
		<p class="loading-step2">加载中</p>
		<p class="loading-step3" style="display:none;">没有更多了~~</p>
	</div>
	<div class="rest-fix-right"></div>
	<div class="rest-fix-bottom">
    <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li id="msgRemind">
        <a href="#chatAdd"><img src="imgs/detail-icon10.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li style="width:24%; position:relative;">
        <a href="#chatChoose">
        <div class="rest-bottom-middle"></div>
        </a>
      </li>
      <li>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li>
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="map-mask">
	<a href="javascript:;" class="close-map-mask">+</a>
	<div class="map-mask-cont">
	    <div class="map-mask-head">
	    	<!-- <a href="javascript:;" class="head-search-icon">阿拉伯特色</a> -->
	    	<h3>餐馆搜索</h3>
	    </div>
	    <div>
			<div class="search-set-input">
				<i></i>
				<div style="margin:0 30px 0 20px;">
					<input type="text" name="" value="" placeholder="请输入地址" class="address-filter">
				</div>		
			</div>
			<div class="set-floor clearfix">
				<span class="set-floor-title"><%=newChihuo.localize('customize_distance')%></span>
				<div class="right-set-info clearfix" id='distance'>
					<%_.each(filterData,function(d,i){%>
					    <%if(d.custom_category == 'distance'){%>
						<span><%=d.name%></span>
					<%}})%>
				</div>
			</div>
			<div class="set-floor clearfix" style="border-bottom:1px solid #e1e8ee; padding-bottom:5px;">
				<span class="set-floor-title"><%=newChihuo.localize('customize_rest_type')%></span>
				<div class="right-set-info clearfix" id='resttype'>
					<%_.each(filterData,function(d,i){%>
					    <%if(d.custom_category == 'facilitytp'){%>
						<span><%=d.name%></span>
					<%}})%>
				</div>
			</div>
			<div class="set-floor clearfix" style="border-bottom:1px solid #e1e8ee; padding-bottom:5px;">
				<span class="set-floor-title"><%=newChihuo.localize('customize_price')%></span>
				<div class="right-set-info clearfix" id='price'>
					<%_.each(filterData,function(d,i){%>
					    <%if(d.custom_category == 'price'){%>
						<span><%=d.name%></span>
					<%}})%>
				</div>
			</div>
			<div class="set-floor clearfix select-dish-mask" style="border-bottom:1px solid #e1e8ee; padding-bottom:5px;" query=1>
				<span class="set-floor-title"><%=newChihuo.localize('customize_cuisine')%></span>
				<p class="set-floor-select" id="cuisine">all</p>
			</div>
			<div class="set-floor pop-time clearfix" style="border-bottom:1px solid #e1e8ee; padding-bottom:5px;">
				<span class="set-floor-title"><%=newChihuo.localize('customize_open')%></span>
				<p class="set-floor-select"><input class="time-demo2" placeholder="选择时间" style="max-width:80px; text-align:right;" /></p>
				<div class="set-time"><img src="imgs/open-icon.png"></div>
				
			</div>
			<div class="set-floor clearfix" style="border-bottom:1px solid #e1e8ee; padding-bottom:5px;">
				<span class="set-floor-title">餐馆特性</span>
				<div class="right-set-info set-feature clearfix" id='feature'>
					<%_.each(filterData,function(d,i){%>
					    <%if(d.custom_category == 'feature'){%>
						<span><%=d.name%></span>
					<%}})%>
				</div>
			</div>
			<div class="search-set-fix">
				<button class="clear-option" style="width:100%">Clear</button>
				<button class="set-sure" id='setSure' style="display:none;">确认</button>
			</div>
		</div>
	</div>
</div>
<div class="search-mask">
 	<div class="dish-mask-list">
    	<%_.each(filterData,function(d,i){%>
			<%if(d.custom_category == 'cuisine'){%>
				<p><%=d.name%></p>
		<%}})%>
    </div>	
</div>
<div class="return-top-icon"></div>
<%if(data && data.length){%>
<script>
    var swiper1 = new Swiper('.rest-list-swiper', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });

    var setTime = $('.time-demo2').mobiscroll().time({
        theme: 'ios',
        display: 'bottom',
        headerText: false,
        maxWidth: 90
    });
</script>
<%}%>    	