<div class="rest-bg comment-effect3">
	<nav class="common-title">
		<a href="javascript:;" class="share share-rest" style="display:block;"></a>
		<a href="javascript:history.go(<%if(from =='comment'){%>-3<%}else{%>-1<%}%>);" class="common-return"></a>
		<h3><%if(data[0]){%><%=data[0].rest_name%><%}%></h3>
	</nav>
	<div class="rest-wrap">
	<%_.each(data,function(d,i){%>
		<%if(i==0){%>
		<div class="rest-banner" style="position:relative;">
		  <!-- Swiper -->
		    <div class="swiper-container" id="rest-banner">
		        <div class="swiper-wrapper">
		        <%if(d.concat_prof_photo_url_keyval){%>
		         	<%_.each(d.concat_prof_photo_url_keyval.split(','),function(d,i){%>
		        		<div class="swiper-slide"><img src="<%=d%>" class="banner-img"></div>
		        	<%})%>
		        <%}else{%>
		        	<div class="swiper-slide"><img src="imgs/rest-pt.jpg" class="banner-img"></div>
		        <%}%>  
		        </div>
		        <!-- Add Pagination -->
		        <div class="swiper-pagination"></div>
		    </div>
		    <i class="fav-rest<%if(d.favorite_flg){%> fav-rest-add<%}%>" style="z-index:10;" rest=<%=d.rest_id%> id='addFav'></i>
		</div>
		<div class="wrap-border clearfix">
			<div class="radius-like">
				<div class="radius-num-show">
					<span><%=parseInt(d.total_rest_compliments_perc)%></span>%<br><%=newChihuo.localize('global_var_like_percentage')%>
				</div>	
			</div>
			<div style="position:relative;">
			<h3 class="rest-name-title"><%=d.rest_name%></h3>
			</div>
			<p class="rest-info-show" style="padding-top:0;"><%=d.rest_category%><span style="color:#ff8b4c; padding:0 10px;"><%=d.price_level%></span><span style="color:#0bbc13;"><%if(d.discount){%><%}%></span><br><%=d.city_name%><%if(d.chihuo_distance){%><span style="padding-left:10px;"><%=newChihuo.showDistanceInfo(d.chihuo_distance)%></span><%}%><%if(d.total_other_custs){%><br><%=d.total_other_custs%> views in the last 10 minutes<%}%></p>
			<%if(d.services && d.services.indexOf('school_lunch')>=0){%>
			<a href="#childList/<%=d.rest_id%>" class="order-link">School Order</a>
			<%}%>
			<%if(d.services && d.services.indexOf('takeout')>=0){%>
			<a href="#orderType/<%=d.rest_id%>/takeout" class="order-link">Takeout Order</a>
			<%}%>
			<%if(d.services && d.services.indexOf('dine_in')>=0){%>
			<a href="#orderType/<%=d.rest_id%>/dinein" class="order-link">Dinein Order</a>
			<%}%>
		</div>
		<div class="wrap-border clearfix">
			<ul class="rest-social clearfix">
				<li class="rest-icon1"><div class="rest-status <%if(d.checkin_flg){%>done<%}%>"><img src="<%=staticSource.restIcon1%>"></div>
				<p><span><%=(d.total_rest_checkins || 0)%> </span><%=newChihuo.localize('restaurant_checkin')%><%if(d.total_rest_checkins > 1){%>s<%}%></p></li>
				<li class="rest-icon2"><div class="rest-status <%if(d.compliment_flg != 'n'){%>done<%}%>"><img src="<%=staticSource.restIcon2%>"></div>
				<p><span><%=(d.total_rest_compliments || 0)%> </span>like<%if(d.total_rest_compliments > 1){%>s<%}%></p></li>
				<li class="rest-icon3"><img src=<%if(d.following_flg == 'n'){%><%=staticSource.restIcon4%><%}else{%><%=staticSource.restIcon3%><%}%> style="width:40px;margin-top:10px;" class="<%if(d.following_flg != 'n'){%>done<%}%>"><p><span><%=(d.total_rest_followers || 0)%></span> <%=newChihuo.localize('restaurant_follower')%><%if(d.total_rest_followers > 1){%>s<%}%></p></li>			
			</ul>
		</div>
		<%if(d.promo_flg == 'Y' && d.promo_details){%>
		<div class="wrap-border clearfix">
		    <%_.each(JSON.parse(d.promo_details),function(detail,i){%>
  			<div class="discount-bottom clearfix" style="border-top:none;">
  				<b><%=detail.promo_title%></b>     
  				<p><%=detail.promo_details%></p>
  				<span><%=newChihuo.localize('promotion_expires')%>:<%=detail.expiration_date%></span>
  			</div>
  			<%})%>
		</div>
		<%}%>
		<div class="wrap-border clearfix">
			<div class="rest-detail">
			<%if(d.mon_open_hrs){%>
				<div class="detail-border">
					<p class="detail-open"><i class="detail-icon-common detail-icon1"></i><%=newChihuo.localize('restaurant_hours')%></p>
					<div class="week-time">
						<p <%if(chihuo.getWeekTime(1)){%>class='cur<%if(chihuo.getOpenStatus(d.mon_open_hrs)){%> opening<%}%>'<%}%>><%=newChihuo.localize('restaurant_openhours_mon')%>：<%=d.mon_open_hrs || '休息'%></p>
						<p <%if(chihuo.getWeekTime(2)){%>class='cur<%if(chihuo.getOpenStatus(d.tue_open_hrs)){%> opening<%}%>'<%}%>><%=newChihuo.localize('restaurant_openhours_tue')%>：<%=d.tue_open_hrs || '休息'%></p>
						<p <%if(chihuo.getWeekTime(3)){%>class='cur<%if(chihuo.getOpenStatus(d.wed_open_hrs)){%> opening<%}%>'<%}%>><%=newChihuo.localize('restaurant_openhours_wed')%>：<%=d.wed_open_hrs || '休息'%></p>
						<p <%if(chihuo.getWeekTime(4)){%>class='cur<%if(chihuo.getOpenStatus(d.thu_open_hrs)){%> opening<%}%>'<%}%>><%=newChihuo.localize('restaurant_openhours_thu')%>：<%=d.thu_open_hrs || '休息'%></p>
						<p <%if(chihuo.getWeekTime(5)){%>class='cur<%if(chihuo.getOpenStatus(d.fri_open_hrs)){%> opening<%}%>'<%}%>><%=newChihuo.localize('restaurant_openhours_fri')%>：<%=d.fri_open_hrs || '休息'%></p>
						<p <%if(chihuo.getWeekTime(6)){%>class='cur<%if(chihuo.getOpenStatus(d.sat_open_hrs)){%> opening<%}%>'<%}%>><%=newChihuo.localize('restaurant_openhours_sat')%>：<%=d.sat_open_hrs || '休息'%></p>
						<p <%if(chihuo.getWeekTime(0)){%>class='cur<%if(chihuo.getOpenStatus(d.sun_open_hrs)){%> opening<%}%>'<%}%>><%=newChihuo.localize('restaurant_openhours_sun')%>：<%=d.sun_open_hrs || '休息'%></p>
					</div>
				</div>
				<%}%>
				<div class="detail-border">
					<i class="detail-icon-common detail-icon2"></i><a href="#restaurantMaps"><p class="address-detail" id="addressMore"><%=d.addr%></p></a>
				</div>
				<div class="detail-border clearfix">
				    <%if(d.contact_phone_no){%>
					<span class="connect-info" style="padding-right:30px;"><i class="detail-icon-common detail-icon3"></i><a href="tel:<%=d.contact_phone_no%>"><%=d.contact_phone_no%></a></span>
					<%}%>
					<%if(d.weburl){%><a href="<%=newChihuo.setRestUrl(d.weburl)%>"><span class="connect-info"><i class="detail-icon-common detail-icon5"></i><%=d.weburl%></span></a><%}%>
				</div>
				<%if(d.feature_tags){%>
				<div class="detail-border" style="padding-bottom:0;">
					<%_.each(d.feature_tags.split(','),function(d,i){%>
						<span class="feature-tags"><%=d%></span>
					<%})%>
				</div>
				<%}%>
			</div>
		</div>
		<%if(d.concat_menu_keyval){%>
		<div class="wrap-border clearfix">
			<div class="rest-detail">
				<div class="detail-border">
					<a href="#foodMenu/<%=d.rest_id%>" class="title-more-link"><%=newChihuo.localize('restaurant_more_info')%></a>
					<h3 class="detail-block-title title-icon1"><%=newChihuo.localize('global_var_dishes')%></h3>
				</div>
			</div>	
			<div class="swiper-container" id="rest-food">
			    <div class="swiper-wrapper">
			   		 <%_.each(d.concat_menu_keyval.split(','),function(k,i){%>
			            <div class="swiper-slide index-dish-img"><a href="#foodMenu/<%=d.rest_id%>/<%=k.split(';')[0]%>"><img src="imgs/zfx-pt.jpg" style="border-radius:8px;"><p class="para-set" style="height:auto;"><%=k.split(';')[0]%> (<%=k.split(';')[1]%>)</p></a></div>
			    	<%})%>        
			    </div>
    		</div>
		</div>
		<%}%>
		<div class="wrap-border clearfix">
			<div class="rest-detail">
				<div class="detail-border">
				<%if(d.rest_photo_urls){%>
					<a href="javascript:;" class="title-more-link photo-list-link"><%=newChihuo.localize('restaurant_more_picutres')%></a>
					<%}%>
					<h3 class="detail-block-title title-icon2"><%=newChihuo.localize('restaurant_pictures')%></h3>
				</div>
			</div>
			<%if(d.rest_photo_urls){%>	
			<div class="swiper-container" id="rest-photo" photo='<%=d.rest_photo_urls%>'>
			    <div class="swiper-wrapper">
			    	<%_.each(d.rest_photo_urls.split(','),function(d,i){%>
			            <div class="swiper-slide index-dish-img"><img src="<%=d%>" class="photo-detail-show"><i style="display:none;"></i></div>
			        <%})%>
			    </div>
    		</div>
    		<%}else{%>
    		<p class="photo-word-show">To be the first foody adding a photo to earn points</p>
    		<%}%>
    		<div class="comment-photo-wrap img-rest-photo clearfix" rest="<%=d.rest_id%>">
    			
    		</div>	
    		<a href="javascript:;" class="more-btn add-rest-photo" style="width:6em;"><%=newChihuo.localize('restaurant_addphoto')%></a>
		</div>
		<div class="wrap-border clearfix" style="position:relative;">
			<div class="rest-detail">
				<div class="detail-border" style="border:none;">
				<%if(d.total_rest_reviews){%>
					<a href="#userComments/<%=d.rest_id%>" class="title-more-link"><%=newChihuo.localize('restaurant_more_reviews')%></a>
					<%}%>
					<h3 class="detail-block-title title-icon3"><%=newChihuo.localize('restaurant_reviews')%><span style="color:#999;">(<%=d.total_rest_reviews || 0%>)</span></h3>
				</div>
			</div>	
			<ul class="rest-comment">
			<%_.each(data,function(d,i){%>
			<%if(d.total_rest_reviews){%>
				<li>
					<div class="rest-comment-head clearfix">
						<a href="#myIndex/<%=d.customer_id%>">
						  <%if(d.reviewer_profile_url){%>
							<img src="<%=d.reviewer_profile_url.split(',')[0]%>" class="comment-left-img"> 
						  <%}else{%>
						  	<img src="imgs/photo.png" class="comment-left-img"> 
						  <%}%>
						</a>
						<div class="comment-right-info">
							<h3 style="background:none;"><%=d.reviewer_name%></h3>
							<p><span><%=chihuo.getLastTime(d.review_datetime)%> <%=newChihuo.localize('global_var_ago')%></span></p>
						</div>
					</div>
					<p class="comment-cont"><%=d.last_review_details%></p>
					<%if(d.review_photo_urls){%>
						<div class="review-photo-urls clearfix" photo="<%=d.review_photo_urls%>">
							<%_.each(d.review_photo_urls.split(','),function(d,i){%>
								<img src="<%=d%>">
							<%})%>
						</div>
					<%}%>
					<div class="rest-comment-bottom">
						<%if(d.review_comments_cnt){%><span class="wechat-icon" style="margin-right:20px;"><%=d.review_comments_cnt%></span><%}%>
						<%if(d.review_likes_cnt){%><span class="good-icon"><%=d.review_likes_cnt%></span><%}%>
					</div>
				</li>
			<%}else{%>
			   <%if(i==0){%>
			      <p class="photo-word-show">To be the first foody adding a review to earn a 150 points</p>
			   <%}%>
			<%}})%>
			</ul>
			<a href="<%if(newChihuo.getLocalStorage('customer_id') || newChihuo.customerId){%>#submitComment/<%=d.rest_id%><%}else{%>javascript:;<%}%>" class="comment-edit"></a>
		</div>
	</div>
	<%if(d.recomm_rests){%>
	<div class="rest-bottom">
		   <div class="rest-detail">
				<div class="detail-border">
					<h3 class="detail-block-title" style="padding-left:0;"><%=newChihuo.localize('restaurant_recommended')%></h3>
				</div>
			</div>	
			<div class="swiper-container" id="rest-like">
			    <div class="swiper-wrapper">
			    <%_.each(JSON.parse(d.recomm_rests),function(d,i){%>      
			      <div class="swiper-slide index-dish-img">
                  <div class="father-wrap">
                    <a href="#restaurant/<%=d.restid%>">
                    <div class="img-middle-wrap"><img src="<%if(d.photo_url){%><%=d.photo_url%><%}else{%>imgs/pt1.png<%}%>"></div></a>
                    <div class="rest-like">
                      <p class="para-set"><%=d.rest_name%><%if(d.restpermitpassflg=='Y'){%><i class="pass-icon"></i><%}%></p>
                      <div class="like-para">
                        <span style="color:#ff8b4c; padding:0 5px 0 0;"><%=d.price%></span>
                        <span class="reset-bg5" style="padding-left:18px;"><%=d.total_like_percentage || 60%>%</span>
                        <img src="<%if(d.restfollowingflg == 'Y'){%><%=staticSource.restIcon3%><%}else{%><%=staticSource.restIcon4%><%}%>" class="hot-set-img <%if(d.restfollowingflg == 'Y'){%>hot-follow-done<%}else{%>hot-follow<%}%>" rest=<%=d.restid%> />
                      </div>
                    </div>
                    </div>
                  </div>
			    <%})%>
			    </div>
    		</div>
    	</div>	
    	<%}}})%>	
	</div>
</div>
<div class="photo-select-wrap">
	<ul>
		<li class="photo-action1"><%=newChihuo.localize('photo_source_camera')%></li>
		<li class="photo-action2"><%=newChihuo.localize('photo_source_photo_librarry')%></li>
	</ul>
	<form id="usr-formPhoto" style="display:none;">
		
	</form>	
</div>
<div id='shareWrap' share="rest">
	
</div>		
<script>
 	var width=window.innerWidth; 
    var swiperRest1 = new Swiper('#rest-banner', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
     var swiperRest2 = new Swiper('#rest-food', {
     	initialSlide:1,
        slidesPerView: 'auto',
        slidesOffsetBefore : 0.05*width,
    });
   
    var swiperRest3 = new Swiper('#rest-photo', {
      	initialSlide:2,
        slidesPerView: 'auto',
        slidesOffsetBefore : 0.1*width,
        
    });

    var swiperRest4 = new Swiper('#rest-like', {
      	initialSlide:2,
        slidesPerView: 'auto',
        slidesOffsetBefore : 0.1*width,     
    });

</script>    