<div class="map-bg">
    <nav class="common-title">
        <a href="javascript:history.go(-1);" class="common-return"></a>
        <h3>Submit a missing restaurant</h3>
    </nav>
</div>
<div style="margin:15px 12px;">
  <div class="form-group">
    <label>Restaurant Name<em class="missing-fill">*</em></label>
    <input type="text" class="form-control" id="missingName" placeholder="Restaurant Name">
  </div>
  <div class="form-group">
    <label>Address<em class="missing-fill">*</em></label>
    <input type="text" class="form-control" id="missingAddress" placeholder="Address">
  </div>
  <div class="form-group">
    <label>City<em class="missing-fill">*</em></label>
    <input type="text" class="form-control" id="missingCity" placeholder="City">
  </div>
 <a class="quit-setting missing-submit" style="background: #fb6700; margin:0 0 10px; display:block;">Submit</a>
 <p><em style="color:red;">*</em> field must be filled.<br>This request will take up to 3 business days to procceed.<br>Once the request were accepted,a 200pts bonus would reward to requester in 2 days.</p>
</div>