<div class="set-bg">
	<div class="food-bg">
		<nav class="common-title">
			<a href="#map2" class="head-rest-icon"></a>
			<a href="javascript:history.go(-1);" class="common-return"></a>
			<h3><%=newChihuo.localize('global_var_restlist')%></h3>
		</nav>
		<ul class="rank-ul clearfix">
			<li><p><%=newChihuo.localize('global_var_like_percentage')%><i></i><i></i></p></li>
    		<li><p><%=newChihuo.localize('global_var_price')%><i></i><i></i></p></li>
    		<li class="cur toggle"><p><%=newChihuo.localize('global_var_distance')%><i></i><i></i></p></li>
		</ul>
	</div>
	<div class="rest-list-wrap">
	<%_.each(data,function(d,i){%>
		<div class="wrap-border clearfix">
		<%if(newChihuo.wishSearch){%>
		<a href="javascript:;" class="add-wishlist" rest="<%=d.rest_id%>">
		<%}else{%>
		<a href="#restaurant/<%=d.rest_id%>">
		<%}%>
        
         <div class='clearfix'>
         <div class="food-img">
                  <img src="<%if(d.rest_profile_photo_url){%><%=d.rest_profile_photo_url.split(',')[0]%><%}else{%>imgs/map-img.jpg<%}%>">
             </div>
             <div style="margin:0 5px 0 100px; position:relative;">
                  <%if(d.cust_distance){%><span class="position-distance"><%=newChihuo.showDistanceInfo(d.cust_distance)%></span><%}%>
                  <h3 class="rest-name-title" style="margin-right:60px;"><%=d.rest_name%></h3>
          <p class="rest-info-show" style="padding-top:0; height: 48px; overflow: hidden;">
          <%if(d.total_likes_perc){%><span class="reset-style reset-bg3" style="float:right;"><%=parseInt(d.total_likes_perc*100)%>%</span><%}%>
          <%if(d.total_other_custs){%><span class="reset-style reset-bg6" style="float:right;"><%=d.total_other_custs%></span><%}%>
          <span style="color:#ff8b4c; padding-right:10px;"><%=d.rest_avg_pricelevel_per_person%></span><br><%=d.cityname%></p>
          <p class="rest-info-show"  style="padding-top:0; font-size:12px; line-height:20px;"><%if(d.address){%><b class="address-set"><%=d.address%></b><%}%></p>
             </div>
          </div>
         <%if(d.last_review_details){%><b class="address-set" style="padding:0 10px;color:#333;"><%=d.last_review_details%></b><%}%>
        </a>
        </div>
	<%})%>	
	</div>
	<div class="rest-fix-bottom">
     <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li id="msgRemind" <%if(!$.isEmptyObject(newChihuo.msgList)){%>class="message-remind"<%}%>>
         <a href="#chatAdd"><img src="imgs/sdx.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li>
         <a href="#mapSearch"><img src="imgs/map-button.png">
         <p>Map</p>
        </a>
      </li>
       <li id="msgFeeds" <%if(newChihuo.activityNum){%>class="message-remind"<%}%>>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgIndex" <%if(!$.isEmptyObject(newChihuo.requestList)){%>class="message-remind"<%}%>>
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>
</div>
<style type="text/css">
  #returnIcon { top: 50px; }
</style>
<script>
    var swiper1 = new Swiper('.rest-list-swiper', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
</script>    	