<div class="map-bg">
	<nav class="common-title">
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3><%=newChihuo.localize('address_map')%></h3>
	</nav>
</div>
<div class="map-wrap">
	<div id="leafletMap" style="height:100%;">
		
	</div>
</div>
<%if(data[0]){%>
<div class="map-fix-rest">
<div class="swiper-container" id="restaurantMaps-swiper">
   <div class="swiper-wrapper" >
	    <div class="swiper-slide">
	    	<div class="tab-swiper-wrap" style="padding-top:10px;">
				<div class="wrap-border clearfix" style="position:relative; padding-bottom:0;">
				    <div class="rest-fav-this"></div>
					<div class="map-rest-img">
						<%if(data[0].concat_prof_photo_url_keyval){%>
							<img src="<%=data[0].concat_prof_photo_url_keyval.split(',')[0]%>">
						<%}else{%>
							<img src="imgs/map-img.jpg">		
						<%}%>
						<i></i>
					</div>
					<div style="margin:0 5px 0 100px; position:relative;">
		              <h3 class="rest-name-title go-direction" style="margin-right:10px;" lat=<%=data[0].addr_lat%> lng=<%=data[0].addr_lng%> name="<%=data[0].rest_name%>"><%=data[0].rest_name%></h3>
		              <p class="rest-info-show" style="padding-top:0; height: 48px; overflow: hidden;">
		              <%if(data[0].total_rest_compliments_perc){%><span class="reset-style reset-bg3" style="float:right; margin-top:1px;"><%=parseInt(data[0].total_rest_compliments_perc)%>%</span><%}%>
		              <span style="color:#ff8b4c; padding-right:10px;"><%=data[0].price_level%></span><br><%=data[0].cuisine_type%> <%if(data[0].chihuo_distance){%><%=newChihuo.showDistanceInfo(data[0].chihuo_distance)%><%}%></p>
		              <p class="rest-info-show"  style="padding-top:0; font-size:12px; line-height:20px;"><%if(data[0].addr){%><b class="address-set"><%=data[0].addr%></b><%}%></p>
		           </div>
				</div>
			</div>
		</div>
		</div>
	</div>		
</div>	
<%}%>
<div class="rest-fix-bottom">
     <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li id="msgRemind" <%if(!$.isEmptyObject(newChihuo.msgList)){%>class="message-remind"<%}%>>
         <a href="#chatAdd"><img src="imgs/sdx.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li style="width:24%; position:relative;">
        <a href="#chatChoose">
        <div class="rest-bottom-middle"></div>
        </a>
      </li>
       <li id="msgFeeds" <%if(newChihuo.activityNum){%>class="message-remind"<%}%>>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgIndex" <%if(!$.isEmptyObject(newChihuo.requestList)){%>class="message-remind"<%}%>>
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
</div>