<div class="rest-bg" style="padding-bottom:70px;">
	<nav class="common-title">
		<a href="javascript:;" class="sub-comment sub-mi-comment" restId="<%=restId%>" menuId="<%=menuId%>"> <%=newChihuo.localize('review_submit')%></a>
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3 style="margin:0 60px;"><%=newChihuo.localize('review_header')%></h3>
	</nav>
	<div class="wrap-border clearfix" style="margin:20px 12px; padding:15px;">
		<div class="comment-select"><p><%=newChihuo.localize('review_overall ')%></p><span class="like-up like-comment-icon like-mi-comment-icon"><img src="imgs/like-up.png"></span><span class="like-word like-comment-word"><%=newChihuo.localize('global_var_like')%></span><span class="like-comment-icon like-mi-comment-icon"><img src="imgs/like-down.png" style="margin-top:2px"></span><span class="like-comment-word"><%=newChihuo.localize('review_dislike')%></span></div>
		<textarea style="margin-top:10px;" class="user-textarea" placeholder="<%=newChihuo.localize('review_tooltips')%>"></textarea>
		<div class="comment-photo-wrap clearfix">
			<!-- <div class="comment-photo-show">
				<img src="imgs/map-img.jpg">
				<b>+</b>
			</div> -->
			<a href="#photoList">
			<div class="add-comment-photo">
			</div></a>
		</div>
	</div>
	<div class="fix-comment-bottom">
		<a href="#" class="bottom-rihgt"><img src="imgs/upload.png"></a>
		<a href="#" class="bottom-left"><img src="imgs/face-icon.png"></a>
		<a href="javascript:;" class="bottom-middle" id="captureMi"><img src="imgs/photo-go.png"></a>
	</div>
</div>
<div class="photo-select-wrap">
	<ul>
		<li class="photo-action1">拍照</li>
		<li class="photo-action2">从手机相册选择</li>
	</ul>
	<form id="usr-formPhoto" style="display:none;">
		
	</form>	
</div>	