<div class="rest-bg comment-effect5">
	<nav class="common-title">
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3 id="testTime"><%=newChihuo.localize('restaurant_reviews')%></h3>
	</nav>
	<div class="wrap-border clearfix" style="position:relative; margin:15px 12px;" id="userComments">
		<ul class="rest-comment user-comment">
		<%_.each(data,function(d,i){%>
				<li style="border-top:none;">
					<div class="rest-comment-head clearfix">
						 <%if(d.reviewer_profile_photo_url){%>
							<img src="<%=d.reviewer_profile_photo_url.split(',')[0]%>" class="comment-left-img">
						  <%}else{%>
						  	<img src="imgs/photo.png" class="comment-left-img"> 
						  <%}%>
						<div class="comment-right-info">
							<h3 style="background:none;"><%=d.reviewer_display_name%></h3>
							<p><span class="comment-time"><%=chihuo.getLastTime(d.review_datetime)%> <%=newChihuo.localize('global_var_ago')%></span><span class="comment-location"><%=d.reviewer_city_name%> <%=d.reviewer_country_name%></span></p>
						</div>
					</div>
					<p class="comment-cont"><%=d.review_details && d.review_details.split('~~~')[0]%></p>
					<%if(d.review_concat_photo_urls){%>
						<div class="review-photo-urls clearfix" photo="<%=d.review_concat_photo_urls%>">
							<%_.each(d.review_concat_photo_urls.split(','),function(d,i){%>
								<img src="<%=d%>">
							<%})%>
						</div>
					<%}%>
					<div class="rest-comment-bottom">
						<div class="comment-operation" style="display:none;"><span class="share-icon">share</span></div>
						<div class="comment-operation"><span class="good-icon" review=<%=d.cust_rest_review_id%>><%=d.review_likes_cnt%></span></div>
						<div class="comment-operation user-page"><span class="wechat-icon" review=<%=d.cust_rest_review_id%>>comment</span></div>			
					</div>
					<%if(d.review_details && d.review_details.indexOf('~~~')>0){%>
					<div class="communication">
					<%_.each(JSON.parse(d.review_details.split('~~~')[1]),function(d,i){%>
						<p><b class="comment-time-right"><%=chihuo.commentTime(d.created_datetime)%></b><span><%=d.display_name%>：</span><%=d.comment_details%></p>
					<%})%>
					</div>
					<%}%>
					<div class="fix-comment-bottom user-recall">
						<a href="javascript:;" class="bottom-left"><img src="imgs/face-icon.png"></a>
						<div class="chat-input-wrap">
							<form class="userComments-form">
								<input type="text" name="" class="chat-input">
							</form>
						</div>
					</div>
				</li>
		<%})%>		
		</ul>
	</div>
	<!-- <a href="#submitComment/<%=id%>" class="comment-edit">发布评论</a> -->
	<div class="loading-wrap" id='specialLoad'>
	    <p class="loading-step1" style="display:none;"><%=newChihuo.localize('global_loading_more')%></p>
		<p class="loading-step2"><%=newChihuo.localize('global_loading')%></p>
		<p class="loading-step3" style="display:none;"><%=newChihuo.localize('global_loading_nomore')%></p>
	</div>
</div>	