<div class="food-bg" style="padding-bottom:15px;">
	<nav class="common-title">
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3>About Us</h3>
	</nav>
</div>
<div class="protocol-setting">   
    <p>Foodymonkey3  is the first restaurant food review and search social mobile App, and help you eat smarter and healthier. It currently covers fifty  thousands of restaurants in most regions and other major metropolitan areas of Ontario and Vancouver, and brings together 3 million+ real reviews of restaurants and more than 200,000 dish information from over ten thousands of restaurants. It also gives you the freedom to chat among  tens of thousands of foodies to share your gourmet experience while enjoying a good food search rating.</p>
    <p>It  provides three characteristics of eight functions, so that the majority of food friends find their favorite food quickly and accurately.</p>
    <h3>1. Four characteristics:</h3> 
    <p>a. Precise nearby restaurants search for students and other foodies covering major metropolitan areas of Ontario and Vancouver, with 68 universities and colleges as landmarks to facilitate fast-tracking restaurants for students<p>
    <p>b. Tremendous  number of restaurants evaluation data Three millions true evaluation data over 100 thousands restaurants.</p>
    <p>c. Numerous restaurant menus and dishes browsing More than 200 thousands dishes from more than 10 thousands restaurants have menus and price information</p>
    <p>d. Powerful social chat among foodies</p>  
    <h3>2. Eight functions:</h3>
    <p>a. Powerful map search</p> 
    <p>b. Accurate maps and lists of restaurants in the vicinity</p>
    <p>c. Fuzzy matching search</p>
    <p>d. Customized Search</p>
    <p>e. Chatting and making friends</p>
    <p>f. Shake it up for luck at the restaurant</p>
    <p>g. Collect wish lists</p>
    <p>h. Social functions such as evaluation</p>
    <p>To find good food quickly in North America , Foodymonkey3 is the best way to go!</p>
</div>    	