<div class="food-bg" style="padding-bottom:15px;">
	<nav class="common-title">
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3><%=newChihuo.localize('profile_settings_software_update')%></h3>
	</nav>
</div>	
<div class="wrap-border clearfix" style="margin:20px 12px; padding:15px;">   
        <div class="setting-li clearfix">
           
            <span class="set-floor-title" style="color:#333; width:10em;"><%=newChihuo.localize('profile_settings_software_update_version')%></span>
            <p class="set-floor-select" style="margin-right:0;">&nbsp;1.0</p>
           
        </div>
    </div>    	