<div class="food-bg" style="padding-bottom:15px;">
	<nav class="common-title">
		<a href="javascript:;" class="sub-comment">确定</a>
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3><%=newChihuo.localize('')%>消息提醒</h3>
	</nav>
</div>	
<div class="wrap-border clearfix" style="margin:20px 12px; padding:15px;">   
        <div class="setting-li clearfix">
            
            <span class="set-floor-title" style="color:#333; width:10em;">消息提醒</span>
            <div class="switch-remind"><i></i></div>
            
        </div>
</div>        