<div class="food-bg" style="padding-bottom:15px;">
	<nav class="common-title">
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3><%=newChihuo.localize('')%>隐私保护协议</h3>
	</nav>
</div>	
<div class="protocol-setting">
<p>FoodyMonkey is a social networking service provided by Wookong Corporation. This Guideline will explain how FoodyMonkey collects, uses and stores your personal information, along with the rights you are entitled to. We will use this Guideline to explain the relevant details, including the following:<br>
i. We will describe the types of personal information we collect and their corresponding use in order for you to understand how we collect specific type of personal information for a particular function, the reasons for its use and the methods of such collection.<br>
ii. Whilst using some features, we will collect your personal information after obtaining your consent. For example, when you use FoodyMonkey’s “Feeds” function, we will collect information on the number of your steps taken; where you use the “recommended contacts/friends” function, we will collect your mobile contact information; and where you use the “nearby” and “shake” function, we will collect your location information. Unless it is required by the relevant laws and regulations for you to provide such information, refusing to provide such information will only result in your not being able to use the specific functions relating to such information, but does not affect your normal use of other functions of FoodyMonkey.<br>
iii. At present, FoodyMonkey will not actively share or transfer your personal information to any third parties. Where the sharing or transferring of your personal information arises in some other situation, we will obtain your prior express consent.<br>
iv. At present, FoodyMonkey will not actively obtain your personal information from a third party. If there is a requirement to obtain your personal information indirectly from a third party for future business development purposes, we will clarify with you the source, type and scope of such personal information, For example, if the processing of personal information for a specific development is beyond the scope of what you originally agreed to provide to a third party, we will obtain your prior express consent before processing your personal information, and we will strictly abide by the relevant laws and regulations and require that the third party guarantees the legitimacy of the information provided.<br>
v. You can access, correct and delete your personal information through the instructions listed in this Guideline, or you can withdraw your consent, cancel your account, report complaints and manage your privacy settings.<br>
For more detailed information on the above, please refer to the relevant sections in following index:<br>
1. The Information We Collect<br>
2. The Location and Time Period of Storing Information<br>
3. Information Security<br>
4. How We Use Information<br>
5. External Parties<br>
6. Your Rights<br>
7. Amendments<br>
8. Protection of minors<br>
9. Others<br>
10. Contact us</p>
<h3>1.The Information We Collect
</h3>
<p>In the process of using FoodyMonkey service, FoodyMonkey will, in accordance with the following ways, collect information provided by you during the use of the service or information generated by the use of the service, in order to provide such services to you, to optimize our services and protect your account security:<br>
1.1 When you register with FoodyMonkey service, we will collect your , profile picture, email address or mobile phone number in order to assist you completing FoodyMonkey registration and to protect your FoodyMonkey account security. Email or Mobile phone numbers are considered to be sensitive information. As such, the collection of such information is to meet the relevant laws and regulations of the identity verification network system requirements. If you do not provide such information, you may not be able to use our services properly. You may also choose to fill in  city, region or  other information in accordance to your own preference. In addition, you may choose to provide us with your voice biometrics, which is sensitive information. Refusing to provide us with such information will only render the voiceprint function useless, but will not affect your normal use of other functions in FoodyMonkey.<br>
1.2 When you use FoodyMonkey’s service, in order to ensure the normal use of our services, we will collect your device model, operating system, unique device identifier, login IP address, FoodyMonkey version number, access network mode and type, equipment accelerators (such as gravity sensing equipment), operation logs and other log information. Such information is required to provide you with FoodyMonkey’s service and are basic information which must be collected.<br>
1.3 When you use FoodyMonkey’s Feeds or Friend Moments function, your uploaded photos, comments, “likes” and other information will be stored in our server, because the storage of such information is necessary for this function to work. We will store such information in an encrypted manner, and you may delete it at any time.<br>
1.4 When you use FoodyMonkey’s public accounts and other functions, FoodyMonkey will not reveal and disclose your personal information to FoodyMonkey’s public account’s operators or small program developers without your permission.<br>
1.5 When you use FoodyMonkey’s “Nearby”, “Shake”, “Maps”,”Hotspot”, “Promotion”, “Photo” and other functions, we will obtain your consent prior to recording your location information, for the purpose of providing you with such service. Such information is sensitive information, refusing to provide such information may only result in you being unable to use the above functions, but does not affect your normal use of FoodyMonkey’s other functions. In addition, you can always turn off the relevant features and clear your location information within that feature.<br>
1.6 When you use FoodyMonkey’s  Feedsfunction, we will collect information regarding the number of your steps, and compare it with your friends’. Such information is sensitive information, refusing to provide such information may only result in you being unable to use the above function, but does not affect your normal use of FoodyMonkey’s other functions.<br>
1.7 When you use the "recommended contacts/friends” function, we will conduct an irreversible encryption on your information, and only collect encrypted information. Such information is sensitive information, refusing to provide such information may result in you being unable to use the above function, but does not affect your normal use of FoodyMonkey’s other functions.<br>
1.8 The FoodyMonkey payment service shall be providing to you by WooPay. When you enable the FoodyMonkey payment function, WooPay will collect your name, type of card and card number, validity and the mobile phone number linked to your bank. When you use FoodyMonkey to pay, the company will also collect relevant payment records in order to facilitate your queries. Such information is sensitive information, refusing to provide such information may result in you being unable to use the FoodyMonkey payment service, but does not affect your normal use of FoodyMonkey’s other functions.<br>
1.9 The third party services in FoodyMonkey service is provided by external third party entities, and FoodyMonkey cannot obtain the information generated by you when using such third party services. However, if you have expressly agreed for the third party to obtain your location information, the third party will obtain location information through FoodyMonkey’s port, FoodyMonkey and third parties will acquire your location information. Such information is sensitive information, refusing to provide such information may result in you being unable to use the above third party services, but does not affect your normal use of FoodyMonkey’s other functions.<br>
Please note that at present, FoodyMonkey will not actively obtain your personal information from a third party. In the event that we need to obtain your personal information indirectly from a third party for future business developments, we will inform the source, type and scope of the use of your personal information to you prior to obtaining such information. For example where FoodyMonkey requires to process personal information for a specific development which is beyond the scope of what you originally agreed to provide to a third party, we will obtain your prior express consent before processing your personal information; In addition, we will strictly abide by the relevant laws and regulations, and require that third parties guarantee the legitimacy of the information provided.
</p>
<h3>2.Storage of Information</h3>
<p>2.1  Where Information is Stored<br>
We will act in accordance with laws and regulations and store personal information collected within the territory in Canada.</p>
<p>2.2  The Duration Storing Information<br>
In general, we will only keep your personal information for the time necessary to achieve a specific purpose, for example:<br>
Email or Mobile phone number:When you use FoodyMonkey service, we will need to store your Email or mobile phone number to ensure your normal use of the service; when you delete your FoodyMonkey account, we will delete the corresponding information;<br>
Information in Feeds: When you post in Feeds, we will need to save your information in Moments to ensure your normal use of the Feeds function; when you delete your information in Feeds, we will delete the corresponding information.<br>
In the event where we cease our products or services, we will notify you in the form of push notifications, announcements, etc., and delete your personal information or anonymize such information within a reasonable period of time.
 </p>
<h3>3.Information Security</h3>
<p>We strive to secure users' information to prevent information leakage, improper use, unauthorized access or disclosure.<br>
We will use a variety of security measures to ensure the security of information within reasonable security standards. For example, we will use encryption technology (for example, SSL), data anonymization and other means to protect your personal information.<br>
We have set up specialized management systems, processes and organizations to ensure the security of information. For example, we strictly limit the range of people who may access such information and require them to comply with the confidentiality obligations and conduct audits.<br>
In the case of information leakage or other incidents involving information security, we will initiate contingency plans to prevent the wide spread of security incidents and inform you in the form of push notifications and announcements.<br>
At present, FoodyMonkey’s information security has achieved ISO27001, the international information security management system standards and other international certification requirements of the authorities, and has received the appropriate certifications.
 </p>
<h3>4.How We Use Information</h3>
<p>We may use information collected by certain features for our other services. For example, we may use the information we collect when you use one of our features, and provide you with specific content in another service, including, but not limited to display ads in another service.<br>
In order to ensure the security of our services, and to enable us to better understand the operations of our applications, we may record information such as your frequency of using our applications, crash logs, overall usage, performance data, and the sources that apps are installed from. We will not combine the information stored in the analytics software with any personally identifiable information you provide in the application.
Where we utilize your personal information beyond the scope of our collection statement or a direct or reasonable connection, we will inform you and obtain your prior express consent again before using your personal information in such situations.
 </p>
<h3>5.External Parties</h3>
<p>At present, we will not actively share or transfer your personal information to a third party. If there are other circumstances in which your personal information is to be shared or transferred, we will obtain your prior express consent.<br>
We will not publicly disclose personal information collected by us. If we have to disclose such information publicly, we will inform you of the purpose of such disclosure, type of information disclosed and the sensitive information that may be involved, and obtain your prior express consent.<br>
As our business continues to develop, we may engage in mergers, acquisitions, transfers of assets, etc. We will inform you of such circumstances and continue to protect your personal information and require new controllers to continue to protect your personal information in accordance with the laws and regulations and the standards as strict as required by this Guideline.
 </p>
<h3>6.Your Rights</h3>
<p>During your course of using FoodyMonkey, in order to provide you with an easier way to access, change, delete your personal information while ensuring you with the right to withdraw your consent regarding the use of personal information and the right to cancel your account, we have provided you with the applicable function when designing the product. You may refer to the following operational Guideline. In addition, we have also set up a report and complaints channel, in order to address your feedback in a timely manner.
 <br>
6.1 Access Personal Information<br>
6.1.1 Access your profile picture, name, FoodyMonkey ID, email,, , region, what’s up, address and other basic information:<br>
1)  After entering FoodyMonkey, tap on "Me”;<br>
2)  Tap on the column with your profile picture;<br>
3)  Access your information.<br>
6.1.2 Access your FoodyMonkey ID, mobile phone number, FoodyMonkey password, voiceprint, , email address,contacts:<br>
1)  After entering FoodyMonkey, tap on "Me”;<br>
2)  Tap on"Settings";<br>
3)  Tap on "Account Security";<br>
4)  Access your FoodyMonkey ID, mobile phone number, FoodyMonkey password, voiceprint, email address, contacts.<br>
6.1.3 Access your posts in Feeds/Moments:<br>
1)  After entering FoodyMonkey, tap on "Me”;<br>
2)  Tap on the image album;<br>
3)  Tap on the post in Moments you would like to access.<br>
6.1.4 Access and manage the FoodyMonkey games display function:<br>
1)  After entering FoodyMonkey, Tap on "Discover";<br>
2)  Tap on “Games”<br>
3)  Tap on "" at the upper right corner;<br>
4)  Access and manage the games information you want to display.<br>
6.1.5 Access “Blocked List”<br>
1)  After entering FoodyMonkey, tap on "Me”;<br>
2)  Tap on "Settings";<br>
3)  Tap on "Privacy";<br>
4)  Tap on “Blocked List” to view.
 </p>
<p>6.2 Deleting Personal Information<br>
6.2.1 Delete one-to-one chat history:<br>
1)  After entering FoodyMonkey, select and open the specific chat history, tap on "" at the upper right corner;<br>
2)  Tap on “Clear Chat History”.<br>
6.2.2 Deleting Group Chat history:<br>
1)  After entering FoodyMonkey, select and open the specific chat history, tap on "" at the upper right corner;<br>
2)  Tap on “Clear Chat History”.<br>
6.2.3 Delete parts of the chat history:<br>
1)  After entering FoodyMonkey, select and open the specific chat history, press and hold on the specific message to be deleted;<br>
2)  Select "Delete" to delete the message.<br>
6.2.4 Delete your profile picture, name,  region, address and other basic information (FoodyMonkey ID and two-dimensional code cannot be modified):<br>
1)  After entering FoodyMonkey, tap on "Me”;<br>
2)  Tap on the column with your profile picture;<br>
3)  Delete information.<br>
6.2.5 Delete a post in Moments:<br>
1)  After entering FoodyMonkey, tap on "Me”;<br>
2)  Tap on the image album;<br>
3)  Tap on the post in Moments you wish to access;<br>
4)  Tap on "" at the upper right corner to delete the post in Moments.
 </p>
<p>6.3 Amending Your Personal Information<br>
6.3.1 Changing profile photo, name, gender, region, what’s up, address:<br>
1)  After entering FoodyMonkey, tap on "Me”;<br>
2)  Tap on the column with your profile picture;<br>
3)  Change your picture, name, gender, region, personalized signature, address.<br>
6.3.2 Change your mobile phone number, FoodyMonkey password, voiceprint, emergency contacts:<br>
1)  After entering FoodyMonkey, tap on "Me”;<br>
2)  Tap on "Settings";<br>
3)  Tap on "Account Security";<br>
4)  Change your mobile phone number, FoodyMonkey password, voiceprint, emergency contacts.
 </p>
<p>6.4 Withdraw Permission<br>
6.4.1 Disable Recommended Friends from Mobile Contacts<br>
1) After entering FoodyMonkey, tap on "Me”;<br>
2) Tap on "Settings";<br>
3) Tap on "Privacy";<br>
4) Tap on "Find Mobile Contacts" to turn it off.<br>
6.4.2 Disable the “People Nearby” setting:<br>
1)  After entering FoodyMonkey, Tap on "Discover";<br>
2)  Tap on "nearby people" (open);<br>
3)  Tap on "" at the upper right corner;<br>
4)  Tap "Clear Location " (close).<br>
6.4.3 Disable FoodyMonkey’s “Movement” function<br>
1) After entering FoodyMonkey, tap on "Me”;<br>
2) Tap on "Settings";<br>
3) Tap on "General";<br>
4) Tap on "Features";<br>
5) Tap on "FoodyMonkey Movement";<br>
6) Tap on "Disable";<br>
7) Tap on "Clear and Disable".<br>
6.4.4 Disable the “Shake” function<br>
1) After entering FoodyMonkey, tap on "Me”;<br>
2) Tap on "Settings";<br>
3) Tap on "General";<br>
4) Tap on "Features";<br>
5) Tap on "Shake";<br>
6) Tap on "Disable";<br>
7) Tap on "Clear and Disable".<br>
6.4.5 Delete FoodyMonkey Payment’s Cards<br>
1) After entering FoodyMonkey, tap on "Me”;<br>
2) Tap on "Wallet";<br>
3) Tap on “Cards”<br>
4) Tap on the specific bank linked card to be deleted;<br>
5) Tap on "" at the upper right corner;<br>
6) Tap on "Unlink".
 </p>
<p>
6.5 Delete Account Cancellation<br>
6.5.1 Delete FoodyMonkey Account<br>
1) After entering FoodyMonkey, tap on "Me”;<br>
2) Tap on "Settings";<br>
3) Tap on "Account Security";<br>
4) Tap on "FoodyMonkey Security Center";<br>
5) Tap on "Delete Account"<br>
Note: After you have deleted your account, we will delete or anonymize your personal information<br>
6.5.2 Disable FoodyMonkey Payment<br>
1) After entering FoodyMonkey, tap on "Me”;<br>
2) Tap on "Wallet";<br>
3) Tap on "" at the upper right corner;<br>
4) Tap on "Payment Security";<br>
5) Tap on "Disable FoodyMonkey Payment";
</p>
<p>
6.6 Feedback<br>
1)  After entering FoodyMonkey, tap on "Me”;<br>
2) Tap on "Settings";<br>
3) Tap on "About";<br>
4) Tap on “Feedback”.
 </p>
<p>
6.7 Privacy Settings<br>
6.7.1 Manage Friend Confirmation:<br>
1)  After entering FoodyMonkey, tap on "Me”;<br>
2)  Tap on "Settings";<br>
3)  Tap on "Privacy";<br>
4)  Tap on "Friend Confirmation" to make changes.<br>
6.7.2 Manage how users add you as a friend:<br>
1)  After entering FoodyMonkey, tap on "Me”;<br>
2)  Tap on "Settings";<br>
3)  Tap on "Privacy";<br>
4)  Tap on "Methods for Friending Me" to make changes.<br>
6.7.3 Manage your Moments:<br>
1)  After entering FoodyMonkey, tap on "Me”;<br>
2)  Tap on "Settings";<br>
3)  Tap on "Privacy";<br>
4)  Enable/disable the “Moments”.<br>
6.7.4 Review your Moments’ public settings:<br>
1)  After entering FoodyMonkey, tap on "Me”;<br>
2)  Tap on "Settings";<br>
3)  Tap on "Privacy";<br>
In the "Don’t Share My Moments", you can review the list of friends you do not want to share your Moments with, in the "Hide User’s Moments", you can review the list of friends whose Moments you do not want to view;<br>
4)  You can also manage "the scope of Moments viewable by others";<br>
5)  You can also choose whether to "allow strangers to access latest 10 Moments ".<br>
6.7.5 Manage your Moments’ public settings:<br>
1)  After entering FoodyMonkey, select the friend’s profile you wish to customize;<br>
2)  After selecting your friend’s profile, tap on "" at the upper right corner;<br>
3)  Tap on "Manage permission to view Moments";<br>
4)  Select "Don’t Share My Moments" or "Hide His (Her) Moments".<br>
6.7.6 Manage the location settings and privacy range of your posts in Moments:<br>
1) After entering FoodyMonkey, tap on "Discover";<br>
2) Tap on “Moments”;<br>
3) Press and hold the "Camera" icon at the upper right corner;<br>
You can select "Location", "Share to", "Mention" etc.
 </p>
<h3>7.Amendments</h3>
<p>We may revise this Guideline in due course. In the event where the terms of this Guideline are amended, we will show you amended Guideline by way of push notifications and/or pop-up windows when you log in or when the APP version has been updated. Please note that we will follow the updated Guideline to collect, use and store your personal information only after you have tapped on the consent button in the pop-up window.</p>
 
<h3>8.Protection of minors</h3>
<p>We place great importance in the protection of personal information of minors. If you are a minor under the age of 18, according to the relevant laws and regulations, your parents’ or legal guardian's written consent should be obtained prior to you use of FoodyMonkey service. If you are a legal guardian of a minor, you may contact us through the contact information specified in Section 10 where you have queries regarding the personal information of your minors.</p>
 
<h3>9.Others</h3>
<p>Wookong’s "Privacy Policy" is Wookong’s unified application of the general privacy terms, where the prescription of users’ rights and information security measures are applicable to FoodyMonkey users. Where there are any inconsistencies or conflicts between WooKong's "Privacy Policy" and this Guideline, this Guideline will prevail.</p>
 
<h3>10.Contact us</h3>
<p>If you have any other complaints， suggestions， or queries regarding personal information of minors, please contact us at http://www.foodymonkey.com/. You can also send your queries to Dataprivacy@Wookong.com or to the following address:<br>
Wookong Legal Department (Privacy & Data Protection Centre), Wookong <br>
We will review your queries as soon as possible and respond within thirty days after verifying your identity.
</p>
</div>