<div class="rest-bg" style="height:100%; overflow:auto; padding-bottom:15px;">
	<nav class="common-title">
		<a href="javascript:;" class="common-return banner-return"></a>
		<h3><%=event_name%></h3>
	</nav>
	<%if(event_name){%>
	<div class="rest-wrap">
		<div class="order-dish-img">
		  <img src="<%=purl%>">
		</div>
		<div class="wrap-border clearfix">
			<h3 class="rest-name-title banner-subject"><%=event_subject%></h3>
			<%if(event_start_date){%><p class="rest-info-show" style="padding-top:0px;">start date: <%=chihuo.timestampToTime(event_start_date)%></p><%}%>
			<%if(event_end_date){%><p class="rest-info-show" style="padding-top:0px;">end date: <%=chihuo.timestampToTime(event_end_date)%></p><%}%>	
			<p class="rest-info-show" style="padding-top:5px;"><%=event_detail%></p>		
		</div>
	</div>
	<%}%>
</div>

