<nav class="top-nav clearfix">
  <div class="index-search">
    <input type="text" name="" placeholder="<%=newChihuo.localize('main_searchbutton')%>">
    <i></i>
  </div>
  <img src="imgs/index-logo.png" class="index-logo">
  <div class="top-location home-top-location" style="margin-left:5px;"><%if(cityData){%><%=cityData[0].cityname%><%}%></div>
</nav>
 <div class="welcome-tips">
    <%=newChihuo.welcome(newChihuo.customer)%>
  </div>
<div class="container-down" style="margin-top:60px;">
<div class="index-banner" style="position:relative; margin-top:0;"> 
 
  <!-- Swiper -->
    <div class="swiper-container" id="index-banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="javascript:;"><div class="index-banner-wrap"><img src="imgs/banner1_index.jpg" class="banner-img"><div class="ad-para"><b></b><p>FoodyMonkey<br><span>Bring You Health And Trust<br>The 1st Canadian Dish Review App</span></p></div></div></a></div>
            <div class="swiper-slide"><a href="javascript:;"><div class="index-banner-wrap"><img src="imgs/banner2_index.jpg" class="banner-img"><p class="index-img-para">Dish Review</p></div></a></div>
            <div class="swiper-slide"><a href="javascript:;"><div class="index-banner-wrap"><img src="imgs/banner3_index.jpg" class="banner-img"><p class="index-img-para">Restaurant Review</p></div></a></div>
            <div class="swiper-slide"><a href="javascript:;"><div class="index-banner-wrap"><img src="imgs/banner4_index.jpg" class="banner-img"><p class="index-img-para">Social Chat</p></div></a></div>
            <div class="swiper-slide"><a href="javascript:;"><div class="index-banner-wrap"><img src="imgs/banner5_index.jpg" class="banner-img"></div></a></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination banner-pagination"></div>
    </div>
</div>
<div class="index-round">
    <audio src="swiperplugin/sound.mp3" controls="controls" preload id="bottomAudio" loop hidden></audio>
     <div class="swiper-container" id="index-round">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#searchSet"><img src="imgs/nav-icon1.png"><span><%=newChihuo.localize('main_customizewheel')%></span></a>
            </div>
             <div class="swiper-slide">
             <a href="#myShake"><img src="imgs/nav-icon2.png"><span><%=newChihuo.localize('main_shakewheel')%></span></a>
            </div>
             <div class="swiper-slide">
             <a href="#restaurantWishes"><img src="imgs/nav-icon3.png"><span><%=newChihuo.localize('main_wishlistwheel')%></span></a>
            </div>
             <div class="swiper-slide">
             <a href="#map"><img src="imgs/nav-icon4.png"><span><%=newChihuo.localize('main_mapwheel')%></span></a>
            </div>
             <div class="swiper-slide">
              <a href="#restaurantNear"><img src="imgs/nav-icon2.png"><span><%=newChihuo.localize('main_nearbywheel')%></span></a>
            </div>
             <div class="swiper-slide">
              <a href="#myDiscount"><img src="imgs/nav-icon1.png"><span><%=newChihuo.localize('main_promotionwheel')%></span></a>
            </div>
             <div class="swiper-slide">
              <a href="#searchSet"><img src="imgs/nav-icon1.png"><span><%=newChihuo.localize('main_customizewheel')%></span></a>
            </div>
             <div class="swiper-slide">
             <a href="#myShake"><img src="imgs/nav-icon2.png"><span><%=newChihuo.localize('main_shakewheel')%></span></a>
            </div>
             <div class="swiper-slide">
             <a href="#restaurantWishes"><img src="imgs/nav-icon3.png"><span><%=newChihuo.localize('main_wishlistwheel')%></span></a>
            </div>
             <div class="swiper-slide">
             <a href="#map"><img src="imgs/nav-icon4.png"><span><%=newChihuo.localize('main_mapwheel')%></span></a>
            </div>
             <div class="swiper-slide">
              <a href="#restaurantNear"><img src="imgs/nav-icon2.png"><span><%=newChihuo.localize('main_nearbywheel')%></span></a>
            </div>
             <div class="swiper-slide">
               <a href="#myDiscount"><img src="imgs/nav-icon1.png"><span><%=newChihuo.localize('main_promotionwheel')%></span></a>
            </div>          
        </div>
    </div>
</div>
<div class="index-new-wrap">
<%if(detailData !== null){%>
<%_.each(detailData, function(d,i) {%>
<%if(d[0].categoryid == 1){%>
<div class="wrap-border">
  <div class="floor-title">
    <a href="#cuisineList/<%=encodeURIComponent(newChihuo.city)%>" class="more-link"><%=newChihuo.localize('restaurant_more')%></a>  
    <h3 class="index-title-bg1"><%=d[0].categoryname%></h3>
  </div>
  <div class="floor-wrap">
    <div class="swiper-container" id="index-dish">
        <div class="swiper-wrapper">
        <%_.each(d, function(d,i) {%>
            <%if(d.categoryid == 1){%>
            <div class="swiper-slide index-dish-img"><a href="#restaurantList2/<%=newChihuo.city%>/<%=d.restcuisinetype%>"><div class="img-middle-wrap"><img src="<%if(d.profileurl){%><%=d.profileurl%><%}else{%>imgs/pt2.png<%}%>" alt='加载失败'></div><p><%=d.restcuisinetype%></p><span>（<%=d.totrestcnt%>）</span></a></div>
        <%}})%>
        </div>
    </div>
  </div>
</div> 
<%}})%>
<%_.each(detailData, function(d,i) {%>
<%if(d[0].categoryid>=2 && d[0].categoryid <= 5){%>
<div class="wrap-border">
  <div class="floor-title">
    <a href="<%if(d[0].categoryid == 2){%>#dishHot1<%}else{%>#dishHot3/<%=d[0].categoryid%><%}%>" class="more-link"><%=newChihuo.localize('restaurant_more')%></a> 
    <h3 class="index-title-bg1"><%=d[0].categoryname%></h3>
  </div>
  <div class="floor-wrap">
    <!-- Swiper -->
    <div class="swiper-container category-dish">
          <div class="swiper-wrapper">
             <%_.each(d, function(d,i) {%>
                  <div class="swiper-slide index-dish-img"><a href="<%if(d.categoryid==2){%>#dishHot2/<%=encodeURIComponent(d.facilityname)%><%}else{%>#dishHot4/<%=encodeURIComponent(d.categoryid)%>/<%=encodeURIComponent(d.facilityname)%><%}%>"><div class="img-middle-wrap"><img src="<%if(d.profileurl){%><%=d.profileurl%><%}else{%>imgs/zfx-pt.jpg<%}%>"></div><p class="para-set" style="height:auto;"><span>(<%=d.totrestcnt%>)</span><%=d.facilityname%><br><b><%=d.restavgprice%></b></p></a></div>
            <%})%>        
          </div>
        </div>
  </div>
</div>
<%}})%>
<%_.each(detailData, function(d,i) {%>
<%if(d[0].categoryid==6){%>
<div class="wrap-border">
  <div class="floor-title">
    <a href="#cityList/<%=newChihuo.city%>" class="more-link"><%=newChihuo.localize('restaurant_more')%></a> 
    <h3 class="index-title-bg3"><%=d[0].categoryname%></h3>
  </div>
  <div class="floor-wrap">
    <!-- Swiper -->
    <div class="swiper-container" id="index-city">
        <div class="swiper-wrapper">
        <%_.each(d, function(d,i) {%>
            <div class="swiper-slide index-dish-img"><a href="#restaurantList2/<%=d.cityname%>/null" class="set-city-bg"><img src="<%if(d.profileurl){%><%=d.profileurl%><%}else{%>imgs/pt3.png<%}%>"><p><%=d.cityname%></p><span>（<%=d.totrestcnt%>）</span></a></div>
            <%})%>
        </div>
    </div>
  </div>
</div>
<%}})%>
<%_.each(detailData, function(d,i) {%>
<%if(d[0].categoryid > 6){%>
<div class="wrap-border">
  <div class="floor-title">
    <a href="#restaurantList" class="more-link"><%=newChihuo.localize('restaurant_more')%></a>
    <h3 class="<%if(d[0].categoryid < 25){%>index-title-bg1<%}else{%>index-title-bg5<%}%>"><%=d[0].categoryname%></h3>
  </div>
  <div class="floor-wrap">
    <!-- Swiper -->
    <div class="swiper-container hot-set-swiper index-swiper-query">
        <div class="swiper-wrapper">
        <%_.each(d, function(d,i) {%>
             <%if(d.categoryid < 25){%>        
                  <div class="swiper-slide index-dish-img">
                  <div class="father-wrap">
                    <a href="#restaurant/<%=d.facilityid%>">
                    <div class="img-middle-wrap"><img src="<%if(d.profileurl){%><%=d.profileurl%><%}else{%>imgs/pt2.png<%}%>"></div></a>
                    <div class="rest-like">
                      <p class="para-set"><%=d.facilityname%><%if(d.restpermitpassflg=='Y'){%><i class="pass-icon"></i><%}%></p>
                      <div class="like-para"><%=d.restcuisinetype%> <%=newChihuo.showDistanceInfo(d.restdistance)%><br>
                        <span style="color:#ff8b4c; padding:0 10px 0 0;"><%=d.restavgprice%></span>
                        <span style="color:#0bbc13;"><%if(d.restdiscountpct){%><%=d.restdiscountpct%>%off<%}%></span><br><%=d.totlikespct%>% <%=newChihuo.localize('global_var_like')%>
                        <img src="<%if(d.restfollowingflg == 'Y'){%><%=staticSource.restIcon3%><%}else{%><%=staticSource.restIcon4%><%}%>" class="hot-set-img <%if(d.restfollowingflg == 'Y'){%>hot-follow-done<%}else{%>hot-follow<%}%>" rest=<%=d.facilityid%> />
                      </div>
                    </div>
                    </div>
                  </div>
        <%}else{%>
        <div class="swiper-slide index-dish-img">
          <a href="#restaurantList">
            <img src="imgs/zfx-pt.jpg"><p class="para-set"><%=d.facilityname%></p>
              <div class="renew-para">
                <b><%=d.restavgprice%></b><br><%=d.micalsamt%>Clas <%=newChihuo.localize('global_var_sodium')%><%=d.misodiumamt%>mg
              </div>
          </a>
        </div>
        <%}})%>
        </div>
    </div>
  </div>
</div>
 <%}})%>
<%}%>
</div>
</div>
<div class="rest-fix-bottom">
    <ul class="clearfix">
      <li class="cur">
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li id="msgRemind">
        <a href="#chatAdd"><img src="imgs/detail-icon10.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li style="width:24%; position:relative;">
        <a href="#chatChoose">
        <div class="rest-bottom-middle"></div>
        </a>
      </li>
      <li id="msgFeeds">
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgIndex">
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>
<div class="search-mask">
    <div class="city-mask-list" id="homeCity">
    <%if(cityData){%>
    <%_.each(cityData, function(d,i) {%>
      <p class=" <%if(i==0){%> cur <%}%>"><%=d.cityname%></p>
    <%})%>
    <%}%>
    </div>
</div>
<%if(detailData && detailData.length){%>
<script> 
    var width=window.innerWidth; 
    var swiper1 = new Swiper('#index-banner', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay:5000,
        autoplayDisableOnInteraction: false,
        loop:true
    });
    var swiper2 = new Swiper('#index-dish', {
        slidesPerView: 'auto',
        paginationClickable: true
    });
    var swiper3 = new Swiper('#index-hot', {
        initialSlide:0,
        slidesPerView: 'auto',
        slidesOffsetBefore : 15
    });
    var swiper4 = new Swiper('#index-city', {
        initialSlide:0,
        slidesPerView: 'auto',
        slidesOffsetBefore : 10
    });
    var swiper5 = new Swiper('#index-rest', {
        initialSlide:0,
        slidesPerView: 'auto',
        slidesOffsetBefore : 15,
    });

     var swiperRest6 = new Swiper('.category-dish', {
        slidesPerView: 'auto',      
    });
    
      $(".index-swiper-query").each(function(i){
          var obj = $(this);
          var k = i>=15 ? 0.05 : 0.1;
          var swiper = new Swiper(obj, {
            initialSlide:0,
            slidesPerView: 'auto',
            slidesOffsetBefore : 15,
        });
      });

      var welcome = setTimeout(function(){
        $('.welcome-tips').addClass('toggle-welcome');
      },5000);

  (function(){
    var height = $('.index-banner').height();
    $('.index-banner').css({opacity:1});
    $(window).off('scroll').on('scroll',function(){
       var scrollTop = $(this).scrollTop();
           height    =  height || $('.index-banner').height();
           clearTimeout(welcome);
          if($('.welcome-tips').hasClass('toggle-welcome')){
            $('.welcome-tips').removeClass('toggle-welcome');
          }else{
            welcome = setTimeout(function(){
              $('.welcome-tips').addClass('toggle-welcome');
            },2500);
          }
       if(scrollTop > height){
        return;
       }else{
        var op = (1- scrollTop/height).toFixed(2) > 0.2 ? (1- scrollTop/height).toFixed(2) : 0.2;
        $('.index-banner').css({opacity:op});
       }
    });
  }())
</script>
<%}%>
<script type="text/javascript">
  var swiperNav = new Swiper('#index-round',{
          effect : 'coverflow',
          slidesPerView: 3,
          initialSlide:5,
          centeredSlides: true,
          loop:true,
          coverflow: {
            rotate: 0,
            stretch: 4,
            depth: 50,
            modifier: 5,
            slideShadows : false
          }
        }); 

  var pullRefresh = $('.container-down').pPullRefresh({
        $el: $('.container-down'),
        $loadingEl: null,
        sendData: {

        },
        url: '',
        callbacks: {
          pullStart: function(){
            $('#reload').addClass('show-reload');
            newChihuo.setCity = false;
            chihuo.findHotspotDetails(newChihuo.city,newChihuo.lat,newChihuo.lon,initData.homeData.template);
            setTimeout(function(){$('#reload').removeClass('show-reload')},1000);
          },
          start: function(){
            
          },
          success: function(response){
            
          },
          end: function(){
            
          },
          error: function(){
            
          }
        },
        func: function(){
          _this.initData(0);
        }
      });
</script>