<div class="rest-bg" style="padding-bottom:70px;">
    <nav class="common-title">
        <a href="javascript:history.go(-1);" class="common-return"></a>
        <h3>忘记密码</h3>
    </nav>
    <div class="wrap-border clearfix" style="margin:20px 12px; padding:15px;">   
       <img src="imgs/chanhou.png" class="login-img">
       <div class="login-wrap">
         <input type="text" name="" id="email" placeholder="请输入邮箱">
       </div>
    </div>
    <div class="quit-setting" style="background: #fb6700;" id="resend">发送邮件</div>
</div>  