<div class="rest-bg" style="padding-bottom:70px;">
    <nav class="common-title">
        <a href="javascript:history.go(-1);" class="common-return"></a>
        <h3>注册</h3>
    </nav>
    <div class="wrap-border clearfix" style="margin:20px 12px; padding:15px;">   
       <img src="imgs/chanhou.png" class="login-img">
       <div class="login-wrap">
         <input type="text" name="" id="email" placeholder="请输入邮箱">
       </div>
       <div class="login-wrap">
         <input type="password" name="" id="password"  placeholder="输入密码">
       </div>
       <div class="login-wrap">
         <input type="password" name="" id="repassword" placeholder="确认密码">
       </div>
       <p class="agreement">注册即代表同意馋猴注册协议</p>
    </div>
    <div class="quit-setting" style="background: #fb6700;" id="register">立即注册</div>
</div>  