<div class="food-bg">
	<nav class="common-title">
		<a href="#childDetail/add" class="add-new">+</a>
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3>My child list</h3>
	</nav>
</div>
<div class="school-wrap" style="min-height:80vh; position:relative;">
	<%if(initData.phoneIndexData.data){%>
	<p class="edit-mobile-button" style="margin-top:10px;">	
		<%if(initData.phoneIndexData.data.cust_mobile_no){%>
			<a href="#phoneDetail/edit" style="color:#fff;">Edit Mobile</a>
			<span style="position:absolute; left: 20px; top: 12px; color: #333;">
			Mobile No. : <%=initData.phoneIndexData.data.cust_mobile_no%></span>
			<%}else{%>
			<a href="#phoneDetail/add" style="color:#fff;">Add Mobile</a>
		<%}%>
	</p>
	<%}%>
	<div class="clear"></div>
	<%if(data){%>
	<%if(data.length){%>
	<%_.each(data,function(d,i){%>
	<%if(d.child_info){%>
	<div class="wrap-border clearfix">
		<a href="#childDetail/edit/<%=i+1%>">
			<p class="child-info"><%=i+1%>. <span><%=JSON.parse(d.child_info).grade_name%></span><b><%=JSON.parse(d.child_info).first_name%> <%=JSON.parse(d.child_info).last_name%></b><br/> <%=JSON.parse(d.child_info).school_name%><br/><%=JSON.parse(d.child_info).teacher_name%></p>
		</a>
	</div>
	<%}%>
	<%})%>
	<div class="quit-setting" style="background: #fb6700;"><a href="#childSelect" style="color:#fff;">Order Lunch</a></div>
	<%}else{%>
		<p class="phone-para"><b>No child to select for order</b><br/>Please start to enjoy school lunch order service by adding your school child profile, and we never ever share your child privacy with any other third parties.</p>
	<%}}%>
</div>
<div class="school-bottom">
	<a href="#Index"><img src="imgs/bottom-h1.png"></a>
	<a href="#restaurant/<%=rest%>"><img src="imgs/icon_popular_restaurant.png" style="float:right;"></a>
</div>
	