<div class="food-bg">
	<nav class="common-title">
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3>Select lunch for child</h3>
	</nav>
</div>
<div class="school-wrap">
	<h3 class="school-info-title">select a lunch date</h3>
	<div class="wrap-border clearfix" style="padding:10px 15px;">		
		<select class="school-select" id="lunchTime">
			<option value="1">Mon - July 22,2109</option>
			<option value="2">Mon - July 23,2109</option>
			<option value="3">Mon - July 24,2109</option>
		</select>
	</div>
</div>
<h3 class="school-info-title">restaurant menu</h3>
<ul class="order-new-list">
	<li class="last-level" menu="220494" query="0" name="Small">Small<span class="order-new-price">0.18</span></li>
	<li class="last-level" menu="220495" query="1" name="Medium">Medium<span class="order-new-price">0.21</span></li>
	<li class="last-level" menu="220496" query="2" name="Large">Large<span class="order-new-price">0.24</span></li></ul>
<div class="order-mask"></div>
<div class="order-bottom">
	<div id="gouwu"></div>
	<div class="order-bottom-left" id="orderNewList">
		<p></p>
	</div>
	<div class="order-all-price"></div>
	<div class="order-bottom-right">
		<a href="#myOrder" style="color:#fff;">my order</a>
	</div>
</div>
<div id="dishDetailWrap" style="background:#fff;">
	
</div>
	