<div id="navbar" class="wk-navbar-collapse wk-sidebar">
    <div style="padding-left:4px;">
        <i class="wk-icon-sidebar wk-icon-logo"></i>
        <div class="row" style="padding-left: 20px;">
            <div class="col-xs-6" style="padding: 0;"><a id="login">登录</a></div>
            <div class="col-xs-6" style="padding: 0;"><a id="register">注册</a></div>
        </div>
    </div>
    <ul class="nav navbar-nav">
        <li style="border-top: 1px solid #949494;border-bottom: 1px solid #949494;">
            <a class="wk-icon-index">首页</a>
        </li>
        <li>
            <a class="wk-icon-favorite" href="#fastSearch/4">收藏</a>
        </li>
        <li>
            <a class="wk-icon-prompt" href="#fastSearch/1">提示</a>
        </li>
        <li>
            <a class="wk-icon-record" href="#fastSearch/2">记录</a>
        </li>
        <li>
            <a class="wk-icon-evaluate" href="#fastSearch/3">评论</a>
        </li>
        <li>
            <a class="wk-icon-sign" href="#fastSearch/3">签到</a>
        </li>
        <li style="border-top: 1px solid #949494;">
            <a id="setting"><i class="wk-icon-sidebar wk-icon-setting"></i>设置</a>
        </li>
    </ul>
</div>

