<div class="swiper-container" id="app-launch">
    <div class="swiper-wrapper">
         <div class="swiper-slide">
         	<div>
	         	<img src="imgs/cx0.jpg">
	         	<div class="lanuch-para">
	         		<p class="app-name"><img src="imgs/banner-word.png" class="launch-logo"></p>
	         		<p class="para1">Welcome to Foodymonkey!<br><span style="font-size:12px;">Copyright  ©Foodymonkey</span></p>
	         	</div>
         	</div>
         </div>
         <div class="swiper-slide">
         	<div>
	         	<img src="imgs/cx1.jpg">
	         	<div class="lanuch-para">
	         	<p class="para2">Easily search for 100K restaurants and 200K dishes</p>
	         	</div>
         	</div>
         </div>  
         <div class="swiper-slide">
         	<div>
	         	<img src="imgs/cx2.jpg">
	         	<div class="lanuch-para">
	         	<p class="para3" style="color:#a61dfc;">Three millions reviews to quickly locate good restaurants and dishes</p>
	         	</div>
         	</div>
         </div>  
         <div class="swiper-slide">
         	<div>
	         	<img src="imgs/cx3.jpg">
	         	<div class="lanuch-para">
	         	<p class="para4" style="color:#444;">Powerful social platform to build easy connections among half million foodies</p>
	         	<button id='beginExploring'>Start exploring</button>
	         	</div>
         	</div>
         </div>             
    </div>
    <div class="swiper-pagination launch-pagination"></div>
</div>
<script type="text/javascript">
	var swiperLaunch = new Swiper('#app-launch', {
        pagination: '.launch-pagination',
        paginationClickable: true
    });
</script>