<div class="food-bg" style="padding-bottom:20px;">
	<nav class="common-title">
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3><%=newChihuo.localize('citylist_header')%></h3>
	</nav>
</div>
<div class="rest-list-wrap">
	<%_.each(data,function(d,i){%>
		<div class="wrap-border clearfix" style="padding-top:0; position:relative;">
		<a href="#restaurantList2/<%=d.othercity_name%>/null">
			<div class="swiper-container rest-list-swiper">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide"><img src="<%if(d.othercity_profile_purl){%><%=d.othercity_profile_purl%><%}else{%>imgs/pt3.png<%}%>" class="banner-img"></div>
		        </div>
		        <!-- Add Pagination -->
		         <div class="swiper-pagination"></div>
		    </div>
			<h3 class="rest-name-title" style="height:25px;"><%=d.othercity_name%></h3>
			<p class="rest-info-show"><%=newChihuo.localize('global_restaurantscount')%>:<%=d.total_rests_cnt%></p>
			</a>
		</div>
	<%})%>	
</div>
<div class="loading-wrap" id='specialLoad'>
	    <p class="loading-step1" style="display:none;">加载更多</p>
		<p class="loading-step2">加载中</p>
		<p class="loading-step3" style="display:none;">没有更多了~~</p>
</div>