<div class="food-bg" style="padding-bottom:20px;">
	<nav class="common-title">
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3><%=newChihuo.localize('')%>cuisine</h3>
	</nav>
</div>
<div class="rest-list-wrap">
	<%_.each(data,function(d,i){%>
		<div class="wrap-border set-city-bg clearfix">
           <a href="#restaurantList2/<%=newChihuo.city%>/<%=d.cuisine_type%>">
            <div class="food-img">
                <img src="<%if(d.cuisine_profile_purl){%><%=d.cuisine_profile_purl%><%}else{%>imgs/map-img.jpg<%}%>" class="banner-img">
            </div>
            <div style="margin-left:100px;">
               <h3 class="rest-name-title" style="margin-right:15px;"><%=d.cuisine_type%></h3>
                <p class="rest-info-show" style="padding:6px 0 0 5px;">
                  <%if(d.total_rests_cnt){%><span class="reset-style reset-bg1"><%=d.total_rests_cnt%></span><%}%>
                   <%if(d.total_reviews_cnt){%><span class="reset-style reset-bg2"><%=d.total_reviews_cnt%></span><%}%>
                   <%if(d.total_likes_perc){%><span class="reset-style reset-bg3"><%=parseInt(d.total_likes_perc)%>%</span><%}%>
                </p>
            </div>
            </a>
        </div>
	<%})%>	
</div>
<div class="loading-wrap" id='specialLoad'>
    <p class="loading-step1" style="display:none;"><%=newChihuo.localize('global_loading_more')%></p>
    <p class="loading-step2"><%=newChihuo.localize('global_loading')%></p>
    <p class="loading-step3" style="display:none;"><%=newChihuo.localize('global_loading_nomore')%></p>
</div>