<div class="map-bg">
    <nav class="common-title">
        <a href="javascript:history.go(-1);" class="common-return"></a>
        <h3>照片详情</h3>
    </nav>
</div>
<div class="photo-show-wrap">
	<img src="<%=photoUrl%>" style="height:auto;" alt="加载失败">
</div>
<!-- <div class="photo-num">
	<span>15</span>/30
</div> -->
<div class="bottom-photo">
	<div class="right-photo-info">
		<img src="imgs/round-icon2.png"><span>1850</span>
	</div>
	<img src="imgs/photo.png" class="user-photo-bottom">
	<p class="photo-bottom-para"><span>刘林峰</span><br>上传于2017-05-02</p>
</div>