<div class="food-bg">
	<nav class="common-title">
		<a href="javascript:;" class="head-photo-icon"></a>
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3><%=newChihuo.localize('review_photos_header')%></h3>
	</nav>
</div>
<div class="photo-list-wrap">
<%if(photoUrl){%>
	<ul class="clearfix">
	<%_.each(photoUrl.split(','),function(d,i){%>
		<li class="detail-img-show"><img data-original="<%=d%>" class="photo-detail-lazy"></li>
	<%})%>
	</ul>
<%}%>	
</div>
<div class="photo-mask">
	<div class="mask-set">
		<span class="close-set">x</span>
		<p class="set-word"><%=newChihuo.localize('review_access')%></p>
		<div class="set-button-wrap clearfix">
			<p style="color:#ff8b4c; border-right:1px solid #ddd;">手机设置</p>
			<p id="cancelMask">取消</p>
		</div>
	</div>
</div>