<div class="food-bg" style="padding-bottom:20px;">
	<nav class="common-title">
		<a href="javascript:;" class="head-photo-icon"></a>
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3>餐厅照片</h3>
	</nav>
</div>
<div class="photo-list-wrap">
	<ul class="clearfix">
		<li><a href="#photoDetail"><img src="imgs/photo-list1.jpg"></a></li>
		<li><a href="#photoDetail"><img src="imgs/photo-list2.jpg"></a></li>
		<li><a href="#photoDetail"><img src="imgs/photo-list3.jpg"></a></li>
		<li><a href="#photoDetail"><img src="imgs/photo-list2.jpg"></a></li>
		<li><a href="#photoDetail"><img src="imgs/photo-list1.jpg"></a></li>
		<li><a href="#photoDetail"><img src="imgs/photo-list3.jpg"></a></li>
		<li><a href="#photoDetail"><img src="imgs/photo-list2.jpg"></a></li>
		<li><a href="#photoDetail"><img src="imgs/photo-list3.jpg"></a></li>
		<li><a href="#photoDetail"><img src="imgs/photo-list1.jpg"></a></li>
		<li><a href="#photoDetail"><img src="imgs/photo-list1.jpg"></a></li>
		<li><a href="#photoDetail"><img src="imgs/photo-list2.jpg"></a></li>
		<li><a href="#photoDetail"><img src="imgs/photo-list3.jpg"></a></li>
	</ul>
</div>
<div class="photo-mask">
	<div class="mask-set">
		<span class="close-set">x</span>
		<p class="set-word"><%=newChihuo.localize('review_access')%></p>
		<div class="set-button-wrap clearfix">
			<p style="color:#ff8b4c; border-right:1px solid #ddd;">手机设置</p>
			<p id="cancelMask">取消</p>
		</div>
	</div>
</div>