<div class="set-bg">
<div class="food-bg" style="padding-bottom:15px;">
	<nav class="common-title">
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3><%=newChihuo.localize('profile_footprint_header')%></h3>
	</nav>
</div>	
<div class="rest-list-wrap" style="padding-bottom:10px;">
	<div class="wrap-border clearfix" style="padding:0 15px;">       
           <div class="setting-li clearfix">
                <a href="#myFans">
                    <i class="footprint-icon fp-icon1"></i><span class="set-floor-title" style="color:#333;"><%=newChihuo.localize('profile_footprint_followers')%></span>
                    <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
                 </a>
            </div>     
            <div class="setting-li clearfix">
             <a href="#myFocus">   
                <i class="footprint-icon fp-icon2"></i><span class="set-floor-title" style="color:#333;"><%=newChihuo.localize('profile_footprint_followings')%></span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
             </a>
            </div>      
            <div class="setting-li clearfix">
             <a href="#myComments">
                <i class="footprint-icon fp-icon3"></i><span class="set-floor-title" style="color:#333;"><%=newChihuo.localize('profile_footprint_reviews')%></span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
             </a>
            </div>       
            <div class="setting-li clearfix">
            <a href="#myPhotos">    
                <i class="footprint-icon fp-icon4"></i><span class="set-floor-title" style="color:#333;"><%=newChihuo.localize('profile_footprint_photos')%></span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
            </div>           
            <div class="setting-li clearfix">
            <a href="#myLike"> 
                <i class="footprint-icon fp-icon5"></i><span class="set-floor-title" style="color:#333;"><%=newChihuo.localize('profile_footprint_likes')%></span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
            </div>  
            <div class="setting-li clearfix">
            <a href="#myWish">
                <i class="footprint-icon fp-icon6"></i><span class="set-floor-title" style="color:#333; width:5em;"><%=newChihuo.localize('')%>Wishlists</span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
            </div>
            <div class="setting-li clearfix">
            <a href="#mySignIn">
                <i class="footprint-icon fp-icon7"></i><span class="set-floor-title" style="color:#333;"><%=newChihuo.localize('profile_footprint_checkins')%></span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
            </div>
            <div class="setting-li clearfix" style="border-bottom:none;">
            <a href="#myHistory"> 
                <i class="footprint-icon fp-icon8"></i><span class="set-floor-title" style="color:#333; width:8em;"><%=newChihuo.localize('profile_footprint_browse_history')%></span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
            </div>            
        </div>
</div>
<div class="rest-fix-bottom">
    <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li>
        <a href="#chatAdd"><img src="imgs/detail-icon10.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li style="width:24%; position:relative;">
        <a href="#chatChoose">
        <div class="rest-bottom-middle"></div>
        </a>
      </li>
      <li>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgRemind" class="cur">
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>
</div>
