<div class="set-bg">
<div class="food-bg" style="padding-bottom:15px;">
	<nav class="common-title">
		<a href="#myRewards" class="my-rewards">Rewards</a>
		<a href="#" class="common-return"></a>
		<h3><%if((newChihuo.customerId || newChihuo.getLocalStorage('customer_id'))!== id){%><%if(data[0]){%><%=data[0].display_name%><%}}else{%><%=newChihuo.localize('profile_me')%><%}%></h3>
	</nav>
</div>	
	<div class="rest-list-wrap" style="padding-bottom:0px;">
	<%_.each(data,function(d,i){%>
		<div class="wrap-border clearfix">
			 <div class="food-img" style="text-align:center;">
			 	<a href="<%if((newChihuo.customerId || newChihuo.getLocalStorage('customer_id')) == id){%>#myProfile<%}else{%>javascript:;<%}%>">
			 	<%if(d.profile_photo_url){%>
                <img src="<%=d.profile_photo_url%>" style="border-radius: 50%; height:90px;">
                <%}else{%>
                <div class="set-profile-img"><p>add</p></div>
                <%}%>
                </a>
                <%if((newChihuo.customerId || newChihuo.getLocalStorage('customer_id'))!== id){%>
                <%if(d.friend_flg){%>
               		<span class="add-this-friend" style="background:#ccc;">added</span>
                <%}else{%>
                	<%if(!d.sent_flg){%>
                	 <a  href="#chatApply/<%=d.customer_id%>/<%=encodeURIComponent(newChihuo.customer)%>/<%=d.customer_id%>" class="add-this-friend" cust="<%=d.customer_id%>">add friend</a>
                	 <%}else{%>
                 	<span class="add-this-friend" style="background:#ccc;">request sent</span>
                <%}}}%>
            </div>
            <div style="margin-left:100px;">
             <%if((newChihuo.customerId || newChihuo.getLocalStorage('customer_id')) == id){%>
              <h3 class="rest-name-title" style="margin-right:0;"><a href="#myProfile" class="write-name"><%=d.display_name || 'set name'%></a><%if(d.social_media_name){%> (<%=d.social_media_name%>)<%}%></h3>
             <%}else{%>
              <h3 class="rest-name-title" style="margin-right:0;"><%=d.display_name%><%if(d.social_media_name){%>(<%=d.social_media_name%>)<%}%></h3>
             <%}%>
               
                <p class="rest-info-show" style="padding-top:5px; line-height:20px;"><%=newChihuo.localize('profile_create_date ')%><%=d.join_date%> <br>
                <%if((newChihuo.customerId || newChihuo.getLocalStorage('customer_id')) == id){%>
                <span style="display:none;"><%=newChihuo.localize('profile_rank')%>:<%=d.ranking || 1000%></span></p>
                <div class="vip-level">
                    <%if(d.total_points){%>
                		<b class="vip-level-points" style="padding-left:<%=d.achieved_perc_to_next_level%>;margin-left:-30px;"><%=d.total_points%></b>
                	<%}%>
                	<p><span style="width:<%=d.achieved_perc_to_next_level%>;"></span></p>
                	<%if(d.total_points){%><b class="vip-level-score"><%=d.points_needed_to_next_level + d.total_points%></b>
                	<%}%>
                </div>
                <%}else{%>
				</p> 
                <%}%>       
            </div>
		</div>
		<div class="wrap-border clearfix">
			<ul class="my-index clearfix">
				<li style="border:none;">
				    <a href="javascript:;">
						<img src="imgs/my-icon1.png">
						<p><%=newChihuo.localize('')%>friends<br><span><%=d.total_cfollowings_cnt || 0%></span></p>
					</a>
				</li>
				<li class="index-focus">
					<a href="javascript:;">
						<img src="imgs/my-icon2.png">
						<p><%=newChihuo.localize('profile_following')%><br><span><%=d.total_followings_cnt%></span></p>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="imgs/my-icon3.png">
						<p><%=newChihuo.localize('profile_review')%><br><span><%=d.total_reviews_cnt%></span></p>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="imgs/my-icon4.png">
						<p><%=newChihuo.localize('profile_photo')%><br><span><%=d.total_photos_cnt%></span></p>
					</a>
				</li>
			</ul>
		</div>
		<%})%>
		<div class="wrap-border clearfix">
			<a href="##chatInvite"><div class="invite-img"><p>invite friends to join us</p></div></a>
		</div>
		<%if((newChihuo.customerId || newChihuo.getLocalStorage('customer_id')) == id){%>
		<div class="wrap-border clearfix" style="padding:0 15px;">   
	        <div class="setting-li clearfix">
	        	<a href="#login">
		            <i class="my-index-icon index-icon1"></i><span class="set-floor-title" style="color:#333;width: 6em;"><%=newChihuo.localize('profile_login')%></span>
		            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
	            </a>
	        </div>
	        <div class="setting-li clearfix">
	        	<a href="#myFootprint">
		            <i class="my-index-icon index-icon2"></i><span class="set-floor-title" style="color:#333;"><%=newChihuo.localize('profile_footprint')%></span>
		            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
	            </a>
	        </div>  
	        <div class="setting-li clearfix">
	        	<a href="#myMessage">
		            <i class="my-index-icon index-icon3"></i><span class="set-floor-title" style="color:#333; width:160px;"><%=newChihuo.localize('')%>Friend Moment</span>
		            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
	            </a>
	        </div> 
	        <div class="setting-li clearfix" style="display:none;">
	        	<a href="#chatAdd">
		            <i class="my-index-icon index-icon4"></i><span class="set-floor-title" style="color:#333;"><%=newChihuo.localize('main_chatbutton')%></span>
		            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
	            </a>
	        </div> 
	        <div class="setting-li clearfix" style="display:none;">
	        	<a href="#chatIndex">
		            <i class="my-index-icon index-icon5"></i><span class="set-floor-title" style="color:#333; width:7em;"><%=newChihuo.localize('profile_invite')%></span>
		            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
	            </a>
	        </div> 
	        <div class="setting-li">
	        	<a href="#chatInvite">
		            <i class="my-index-icon index-icon6"></i><span class="set-floor-title <%if(!$.isEmptyObject(newChihuo.requestList)){%>floor-point<%}%>" id="msgPoint" style="color:#333;"><%=newChihuo.localize('profile_contacts')%></span>
		            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
		            <div class="clear"></div>
	            </a>
	        </div> 
	        <div class="setting-li clearfix" style="border:none; clear:both;">
	        <a href="#mySettings">
	            <i class="my-index-icon index-icon7"></i><span class="set-floor-title" style="color:#333;"><%=newChihuo.localize('profile_settings')%></span>
	            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
	            </a>
	        </div>        
    	</div>
    	<%}%>
	</div>
	<div class="rest-fix-bottom">
    <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li id="msgRemind" <%if(!$.isEmptyObject(newChihuo.msgList)){%>class="message-remind"<%}%>>
         <a href="#chatAdd"><img src="imgs/sdx.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li style="width:24%; position:relative;">
        <a href="#chatChoose">
        <div class="rest-bottom-middle"></div>
        </a>
      </li>
       <li id="msgFeeds" <%if(newChihuo.activityNum){%>class="message-remind"<%}%>>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
       <li id="msgIndex" class="<%if((newChihuo.customerId || newChihuo.getLocalStorage('customer_id')) == id){%>cur<%}%><%if(!$.isEmptyObject(newChihuo.requestList)){%> message-remind<%}%>">
        <a href="<%if((newChihuo.customerId || newChihuo.getLocalStorage('customer_id')) == id){%>javascript:;<%}else{%>#myIndex<%}%>"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>
</div>
</div>
