<div class="food-bg opacity-bg">
	<nav class="common-title">
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3><%=newChihuo.localize('profile_footprint_likes_header')%></h3>
	</nav>
	<div class="food-list-nav clearfix" id="likeTab">
		<a href="javascript:;" class="cur" style="width:40%; margin:0 30%;"><%=newChihuo.localize('global_var_restaurants')%></a>
	</div>
</div>
<div class="rest-list-wrap" style="padding-bottom:70px;">
<div class="swiper-container" id="like-swiper">
   <div class="swiper-wrapper">
	    <div class="swiper-slide">
	    	<div class="tab-swiper-wrap">
	    	<%if(data.length){%>
	    	<%_.each(data,function(d,i){%>
	    	<div class="wrap-border clearfix">
				<div class="<%if(d.favorite_flg){%>food-list-icon8<%}else{%>food-list-icon9<%}%>">
				<%=chihuo.getLastTime(d.created_datetime)%> <%=newChihuo.localize('global_var_ago')%>
				</div>
				<div class="food-img">
					<img src="<%if(d.rest_photo_url){%><%=d.rest_photo_url.split(',')[0]%><%}else{%>imgs/map-img.jpg<%}%>">
				</div>
				<div style="margin-left:100px; margin-right:70px;">
					<h3 class="rest-name-title" style="margin:0;"><%=d.rest_name%></h3>
					<p class="rest-info-show" style="padding-top:5px;"><%=d.cuisine_type%><span style="color:#ff8b4c; padding:0 10px;"><%=d.pricelevel_per_person%></span><br><%=d.city_name%>  <%=newChihuo.showDistanceInfo(d.cust_distance)%>
		<br><%=d.total_likes_perc%>% <%=newChihuo.localize('global_var_like')%></p>
				</div>
			</div>
			<%})%>
			<div class="loading-wrap" id='specialLoad'>
			    <p class="loading-step1" style="display:none;"><%=newChihuo.localize('global_loading_more')%></p>
				<p class="loading-step2"><%=newChihuo.localize('global_loading')%></p>
				<p class="loading-step3" style="display:none;"><%=newChihuo.localize('global_loading_nomore')%></p>
			</div>
			<%}else{%>
			<div class="whoops"></div>
			<%}%>
	    	</div>
	    </div>
	</div>
</div>	    		
</div>
<div class="rest-fix-bottom">
   <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li id="msgRemind" <%if(!$.isEmptyObject(newChihuo.msgList)){%>class="message-remind"<%}%>>
         <a href="#chatAdd"><img src="imgs/sdx.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li style="width:24%; position:relative;">
        <a href="#chatChoose">
        <div class="rest-bottom-middle"></div>
        </a>
      </li>
       <li id="msgFeeds" <%if(newChihuo.activityNum){%>class="message-remind"<%}%>>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgIndex" class="cur <%if(!$.isEmptyObject(newChihuo.requestList)){%>message-remind<%}%>">
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
	// var swiperLike = new Swiper('#like-swiper', {
 //        slidesPerView: 'auto',
 //        onSlideChangeEnd: function(swiper){
 //        	$("#likeTab a").eq(swiper.activeIndex).addClass('cur').siblings().removeClass('cur');
 //        }

 //    });
</script>	


