<div style="background:#f4f8fb;padding-bottom: 70px;" class="comment-effect4">
	<div class="food-bg opacity-bg">
		<nav class="common-title">
			<a href="javascript:history.go(-1);" class="common-return"></a>
			<h3><%=newChihuo.localize('profile_followings_header')%></h3>
		</nav>
		<div class="food-list-nav clearfix" id="followingsTab">
			<a href="javascript:;" class="cur" style="width:50%; margin:0;"> <%=newChihuo.localize('profile_followings_followings')%></a>
			<a href="javascript:;" style="width:50%; margin:0 ;"> <%=newChihuo.localize('profile_followings_announcements')%></a>
		</div>
	</div>
	<div class="wrap-border clearfix" style="position:relative; margin:15px 12px;">
	<%if(data.length){%>
	<div class="swiper-container" id="followings-swiper">
  	 <div class="swiper-wrapper">
        <div class="swiper-slide">
		<div class="container-down" style="width:100%;">
		<ul class="rest-comment user-comment">
				<%_.each(data,function(d,i){%>
				<li style="border-top:none;">
					<div class="rest-comment-head clearfix">
						<a href="#myIndex/<%=d.customer_id%>">
						<%if(d.profile_photo_url){%>
						<img src="<%=d.profile_photo_url.split(',')[0]%>" class="comment-left-img">
						<%}else{%>
						  <img src="imgs/photo.png" class="comment-left-img"> 
						<%}%>
						</a>
						<div class="comment-right-info">
							<h3 style="background:none;"><%=d.display_name%></h3>
							<p><span class="comment-time-icon"><%=chihuo.getRightTime(d.created_datetime)%>  <%=newChihuo.localize('global_var_ago')%></span></p>
						</div>
					</div>
					<p class="comment-cont"><%=newChihuo.showMorePara(d.rsp_msg,2)%></p>
					<p class="comment-cont"><%=d.review_details%></p>
					<%if(d.rest_id){%>
					<div class="message-wrap clearfix">
						<a href="#restaurant/<%=d.rest_id%>">
							<div class="food-img">
								<img src="<%if(d.concat_prof_photo_url){%><%=d.concat_prof_photo_url%><%}else{%>imgs/map-img.jpg<%}%>">
							</div>
							<div style="margin-left:100px;">
							<h3 class="rest-name-title"><%=d.rest_name%></h3>
							<p class="rest-info-show" style="padding-top:5px;"><%=d.cuisine_type%><span style="color:#ff8b4c; padding:0 10px;"><%=d.price_level%></span></p>
							</div>
						</a>
					</div>
					<%}%>
					<%if(d.review_concat_photo_urls){%>
					<div class="comment-img-show clearfix" photo="<%=d.review_concat_photo_urls%>">
					   <%_.each(d.review_concat_photo_urls.split(','),function(d,i){%>
						<img src="<%=d%>">
						<%})%>
					</div>
					<%}%>
					<div class="rest-comment-bottom" style="display:none;">
						<div class="comment-operation"><span class="good-icon"><%=d.total_compliments%></span></div>
						<div class="comment-operation"><span class="wechat-icon"><%=newChihuo.localize('activitity_reply')%></span></div>			
					</div>
				</li>
				<%})%>
		</ul>
	</div>
	</div>
	 <div class="swiper-slide">
		 <div class="short-message-wrap">
		 <%_.each(data,function(d,i){%>
		    <div class="short-message">
		    <a href="#myIndex/<%=d.customer_id%>">
		    	<%if(d.profile_photo_url){%>
							<img src="<%=d.profile_photo_url.split(',')[0]%>" class="comment-left-img">
							<%}else{%>
							  <img src="imgs/photo.png" class="comment-left-img"> 
							<%}%>
							</a>
		    	<p><b><%=d.display_name%></b> <%=d.rsp_msg%></p>
		    	<p style="color:#999;"><%=chihuo.getRightTime(d.created_datetime)%>  <%=newChihuo.localize('global_var_ago')%></p>
		    </div>
		 <%})%>	
		 </div>
	 </div>
	</div>
	</div>
	<div class="loading-wrap" id='specialLoad'>
	    <p class="loading-step1" style="display:none;"><%=newChihuo.localize('global_loading_more')%></p>
		<p class="loading-step2"><%=newChihuo.localize('global_loading')%></p>
		<p class="loading-step3" style="display:none;"><%=newChihuo.localize('global_loading_nomore')%></p>
	</div>
	<%}else{%>
	<div class="whoops"></div>
	<%}%>
	</div>
	<div class="fix-comment-bottom" style="display:none;">
		<a href="#" class="bottom-left"><img src="imgs/face-icon.png"></a>
		<div class="chat-input-wrap"><input type="text" name="" class="chat-input"></div>
	</div>
	<div class="rest-fix-bottom">
   <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li id="msgRemind" <%if(!$.isEmptyObject(newChihuo.msgList)){%>class="message-remind"<%}%>>
         <a href="#chatAdd"><img src="imgs/sdx.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li>
         <a href="#mapSearch"><img src="imgs/map-button.png">
         <p>Map</p>
        </a>
      </li>
       <li id="msgFeeds" class="cur<%if(newChihuo.activityNum){%> message-remind<%}%>">
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgIndex" <%if(!$.isEmptyObject(newChihuo.requestList)){%>class="message-remind"<%}%>>
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>
</div>	
<script type="text/javascript">
    var swiperFollowings = new Swiper('#followings-swiper', {
        slidesPerView: 'auto',
        onSlideChangeEnd: function(swiper){
            $("#followingsTab a").eq(swiper.activeIndex).addClass('cur').siblings().removeClass('cur');
        }

    });
</script>