<div style="background:#f4f8fb; padding-bottom: 70px;" class="comment-effect6">
	<div class="food-bg">
		<nav class="common-title">
			<a href="javascript:history.go(-1);" class="common-return"></a>
			<h3><%=newChihuo.localize('activitity_activities')%></h3>
		</nav>
		<div class="food-list-nav clearfix" id="">
			<a href="javascript:;" class="cur" style="width:20%; margin:0 15%;"><%=newChihuo.localize('activitity_activities')%></a>
			<a href="javascript:;" style="width:20%; margin:0 15%;"><%=newChihuo.localize('activitity_notifications')%></a>
		</div>
	</div>
	<div class="wrap-border clearfix" style="position:relative; margin:15px 12px;">
	<div class="container-down" style="overflow:hidden;min-height:100%;">
		<div class="loading-wrap" style="margin-top:-88px;">
			<div style="text-align:center; padding:10px 0;">
				<div>
					<p style="height:28px;">下拉刷新中...</p>
				</div>
			</div>
		</div>
		<ul class="rest-comment user-comment">
		<%_.each(data,function(d,i){%>
				<li style="border-top:none;">
					<div class="rest-comment-head clearfix">
						<a href="#myIndex">
						<%if(d.profile_photo_url){%>
						<img src="<%=d.profile_photo_url.split(',')[0]%>" class="comment-left-img">
						<%}else{%>
						  <img src="imgs/photo.png" class="comment-left-img"> 
						<%}%>
						</a>
						<div class="comment-right-info">
							<h3 style="background:none;"><%=d.display_name%></h3>
							<p><span class="comment-time-icon"><%=chihuo.getRightTime(d.created_datetime)%>   <%=newChihuo.localize('global_var_ago')%></span></p>
						</div>
					</div>
					<p class="comment-cont"><%=newChihuo.showMorePara(d.rsp_msg,2)%></p>
					<p class="comment-cont"><%=d.review_details%></p>
					<%if(d.rest_id){%>
					<div class="message-wrap clearfix">
						<a href="#restaurant/<%=d.rest_id%>">
							<div class="food-img">
								<img src="<%if(d.concat_prof_photo_url){%><%=d.concat_prof_photo_url%><%}else{%>imgs/map-img.jpg<%}%>">
							</div>
							<div style="margin-left:100px;">
							<h3 class="rest-name-title"><%=d.rest_name%></h3>
							<p class="rest-info-show" style="padding-top:5px;"><%=d.cuisine_type%><span style="color:#ff8b4c; padding:0 10px;"><%=d.price_level%></span></p>
							</div>
						</a>
					</div>
					<%}%>
					<%if(d.review_concat_photo_urls){%>
					<div class="comment-img-show clearfix">
					   <%_.each(d.review_concat_photo_urls.split(','),function(d,i){%>
						<img src="<%=d%>">
						<%})%>
					</div>
					<%}%>
					<div class="rest-comment-bottom">
						<div class="comment-operation"><span class="good-icon"><%=d.total_compliments%></span></div>
						<div class="comment-operation"><span class="wechat-icon"><%=newChihuo.localize('activitity_reply')%></span></div>			
					</div>
					
					<!-- <div class="communication">
						<p><span>刘仙姑：</span>不错哇，小伙子</p>
						<p><span>一枚吃货</span>回复<span>刘仙姑：</span>谢谢领导夸奖</p>
					</div> -->
				</li>
				<%})%>
		</ul>
		<div class="loading-wrap" id='specialLoad'>
		    <p class="loading-step1" style="display:none;">加载更多</p>
			<p class="loading-step2">加载中</p>
			<p class="loading-step3" style="display:none;">没有更多了~~</p>
		</div>
	</div>
	</div>
	<a href="#submitComment" class="comment-edit">发布评论</a>
	<div class="rest-fix-bottom">
    <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-red1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li>
        <a href="#chatAdd"><img src="imgs/detail-icon10.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li style="width:24%; position:relative;">
        <a href="#chatChoose">
        <div class="rest-bottom-middle"></div>
        </a>
      </li>
      <li class="message-remind cur">
        <a href="javascript:;"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgRemind">
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>
	<div class="fix-comment-bottom" style="display:none;">
		<a href="#" class="bottom-left"><img src="imgs/face-icon.png"></a>
		<div class="chat-input-wrap"><input type="text" name="" class="chat-input"></div>
	</div>
</div>	