<div class="set-bg">
	<div class="food-bg">
		<nav class="common-title">
			<a href="javascript:history.go(-1);" class="common-return"></a>
			<h3>Past Orders</h3>
		</nav>
	</div>
	<div class="payment-list-wrap">
	<%if(data && data.length){%>
	<%_.each(data,function(d,i){%>
	<div class="payment-list">
		<h3><%if(d.payment_details && JSON.parse(d.payment_details)){%><%=chihuo.timestampToTime(JSON.parse(d.payment_details).timestamp)%><%}%></h3>
		<div class="payment-store">
			<img src="imgs/rest-list-img.jpg">
			<div class="payment-info clearfix">
				<span>You paid $<%if(d.payment_details && JSON.parse(d.payment_details)){%><%=JSON.parse(d.payment_details).final_amount.toFixed(2)%><%}%></span>
				<p><%if(d.rest_details && JSON.parse(d.rest_details)){%><a href="#restaurant/<%=JSON.parse(d.rest_details).rest_id%>" style="color:#333;"><%=JSON.parse(d.rest_details).rest_name%><%}%></a></p>
				<em><%if(d.order_details && JSON.parse(d.order_details).hasOwnProperty('Orders')){%>school-lunch<%}else{%>
				<%if(newChihuo.dineInOrderData(d.order_details) && newChihuo.dineInOrderData(d.order_details)['dinein_flag'] == 'N'){%>takeout<%}else{%>dine-in<%}%>
				<%}%> order id: <%=d.cust_order_id%></em>
				<b><%if(d.payment_details && JSON.parse(d.payment_details)){%><%=chihuo.timestampToTime(JSON.parse(d.payment_details).timestamp)%> <%=chihuo.getDate(JSON.parse(d.payment_details).timestamp)%><%}%></b>
				<div class="payment-button clearfix">
				<a href="#myReceipt/<%=d.cust_order_id%>"><button>Receipt</button></a>
				<!-- <button>Get Help</button> -->
				</div>
			</div>
		</div>
	</div>
	<%})%>
	<%}else{%>
		<p class="no-order"></p>
	<%}%>	
	</div>
	<div class="rest-fix-bottom">
    <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li id="msgRemind" <%if(!$.isEmptyObject(newChihuo.msgList)){%>class="message-remind"<%}%>>
         <a href="#chatAdd"><img src="imgs/sdx.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li>
         <a href="#mapSearch"><img src="imgs/map-button.png">
         <p>Map</p>
        </a>
      </li>
       <li id="msgFeeds" <%if(newChihuo.activityNum){%>class="message-remind"<%}%>>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
       <li id="msgIndex" <%if(!$.isEmptyObject(newChihuo.requestList)){%>class="message-remind"<%}%>>
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>	
</div>