<div class="food-bg" style="padding-bottom:20px;">
    <nav class="common-title">
        <a href="javascript:history.go(-1);" class="common-return"></a>
        <h3>照片</h3>
    </nav>
</div>
<ul class="my-photos clearfix">
    <li>
        <div>
            <img src="imgs/show-photo1.jpg">
            <div class="my-photo-mask">
                <span>1850</span>2015.10.10
            </div>
        </div>
    </li>
    <li>
        <div>
            <img src="imgs/show-photo2.jpg">
            <div class="my-photo-mask">
                <span>1850</span>2015.10.10
            </div>
        </div>
    </li>
    <li>
        <div>
            <img src="imgs/show-photo3.jpg">
            <div class="my-photo-mask">
                <span>1850</span>2015.10.10
            </div>
        </div>
    </li>
    <li>
        <div>
            <img src="imgs/show-photo4.jpg">
            <div class="my-photo-mask">
                <span>1850</span>2015.10.10
            </div>
        </div>
    </li>
    <li>
        <div>
            <img src="imgs/show-photo1.jpg">
            <div class="my-photo-mask">
                <span>1850</span>2015.10.10
            </div>
        </div>
    </li>
    <li>
        <div>
            <img src="imgs/show-photo3.jpg">
            <div class="my-photo-mask">
                <span>1850</span>2015.10.10
            </div>
        </div>
    </li>

</ul>