<div class="food-bg" style="padding-bottom:15px;">
    <nav class="common-title">
        <a href="javascript:history.go(-1);" class="common-return"></a>
        <h3>排行榜</h3>
    </nav>
</div>
<div class="rest-list-wrap">
        <div class="wrap-border clearfix">
            <div class="food-list-icon10" style="margin-top:5px;">
           关注TA 
            </div>
            <div class="rank-query"><img src="imgs/rank1.png"></div>
            <div class="rank-img">
                <img src="imgs/map-img.jpg">
            </div>
            <div style="margin-left:120px;">
                <h3 class="rest-name-title" style="margin-right:60px;">爱吃花生的小老鼠<img src="imgs/detail-icon12.png" style="height:22px; padding-top:0;"></h3>
                <p class="rest-info-show" style="padding-top:5px;">2017.7.12日加入<br><span class="six-angle" style="margin:0;">积分:150</span></p>
            </div>
        </div>
        <div class="wrap-border clearfix">
            <div class="food-list-icon10" style="margin-top:5px;">
           关注TA 
            </div>
            <div class="rank-query"><img src="imgs/rank2.png"></div>
            <div class="rank-img">
                <img src="imgs/map-img.jpg">
            </div>
            <div style="margin-left:120px;">
                <h3 class="rest-name-title" style="margin-right:60px;">爱吃花生的小老鼠<img src="imgs/detail-icon12.png" style="height:22px; padding-top:0;"></h3>
                <p class="rest-info-show" style="padding-top:5px;">2017.7.12日加入<br><span class="six-angle" style="margin:0;">积分:150</span></p>
            </div>
        </div>
        <div class="wrap-border clearfix">
            <div class="food-list-icon10" style="margin-top:5px;">
           关注TA 
            </div>
            <div class="rank-query"><img src="imgs/rank3.png"></div>
            <div class="rank-img">
                <img src="imgs/map-img.jpg">
            </div>
            <div style="margin-left:120px;">
                <h3 class="rest-name-title" style="margin-right:60px;">爱吃花生的小老鼠<img src="imgs/detail-icon12.png" style="height:22px; padding-top:0;"></h3>
                <p class="rest-info-show" style="padding-top:5px;">2017.7.12日加入<br><span class="six-angle" style="margin:0;">积分:150</span></p>
            </div>
        </div>
        <div class="wrap-border clearfix">
            <div class="food-list-icon11" style="margin-top:5px; color: #fa6801;">
           已关注
            </div>
            <div class="rank-query">4</div>
            <div class="rank-img">
                <img src="imgs/map-img.jpg">
            </div>
            <div style="margin-left:120px;">
                <h3 class="rest-name-title" style="margin-right:60px;">爱吃花生的小老鼠<img src="imgs/detail-icon12.png" style="height:22px; padding-top:0;"></h3>
                <p class="rest-info-show" style="padding-top:5px;">2017.7.12日加入<br><span class="six-angle" style="margin:0;">积分:150</span></p>
            </div>
        </div>
</div>