<div class="my-scan">
  <div class="food-bg">
    <nav class="common-title">
      <a href="javascript:history.go(-1);" class="common-return scan-return"></a>
      <h3>scan</h3>
    </nav>
  </div>
  <div class="scan-middle">
    <div class="scan-top"></div>
    <div class="scan-bottom"><p>Align QR code within the frame to scan</p></div>
    <div class="scan-window">
        <div class="scan-border">
          <div class="scan-left"></div>
          <div class="scan-right"></div>
          <i class="scan-border-t"></i>
          <i class="scan-border-l"></i>
          <i class="scan-border-r"></i>
          <i class="scan-border-b"></i>
          <div class="scan-line"></div>
        </div>     
    </div> 
  </div>  
</div>