<div class="rest-bg" style="padding-bottom:70px;">
    <nav class="common-title">
        <a href="javascript:history.go(-1);" class="common-return"></a>
        <h3><%=newChihuo.localize('profile_settings_header')%></h3>
    </nav>
    <div class="wrap-border clearfix" style="margin:20px 12px; padding:15px;">   
        <div class="setting-li clearfix">
            <a href="#praviteSetting">
            <span class="set-floor-title" style="color:#333; width:10em;"><%=newChihuo.localize('profile_settings_privacy')%></span>
            <p class="set-floor-select" style="margin-right:0;"><%=newChihuo.localize('')%>允许Public查看</p>
            </a>
        </div>
        <div class="setting-li clearfix">
         <a href="#langSetting">
            <span class="set-floor-title" style="color:#333;width:10em;"><%=newChihuo.localize('profile_settings_language')%></span>
            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
        </div>  
        <div class="setting-li clearfix">
         <a href="javascript:;">
            <span class="set-floor-title" style="color:#333;width:10em;"><%=newChihuo.localize('profile_settings_rewards')%></span>
            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
        </div> 
        <div class="setting-li clearfix">
         <a href="#messageRemind">
            <span class="set-floor-title" style="color:#333;width:11em;"><%=newChihuo.localize('profile_settings_notifications')%></span>
            <p class="set-floor-select" style="margin-right:0;">开</p>
            </a>
        </div> 
        <div class="setting-li clearfix">
         <a href="#userGuide">
            <span class="set-floor-title" style="color:#333;width:10em;"><%=newChihuo.localize('profile_settings_help')%></span>
            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
        </div> 
        <div class="setting-li clearfix">
         <a href="#praviteProtocol">
            <span class="set-floor-title" style="color:#333; width: 10em;"><%=newChihuo.localize('profile_settings_privacy_policy')%></span>
            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
        </div> 
        <div class="setting-li clearfix">
         <a href="#safeProtocol">
            <span class="set-floor-title" style="color:#333; width: 10em;"><%=newChihuo.localize('profile_settings_security_policy')%></span>
            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
        </div>
         <div class="setting-li clearfix">
          <a href="#appUpdate">
            <span class="set-floor-title" style="color:#333;width:10em;"><%=newChihuo.localize('profile_settings_software_update')%></span>
            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
        </div>   
         <div class="setting-li clearfix" style="border:none;">
          <a href="#aboutUs">
            <span class="set-floor-title" style="color:#333;width:10em;"><%=newChihuo.localize('profile_settings_about')%></span>
            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
        </div>           
    </div>
    <div class="quit-setting" id='logout'><%=newChihuo.localize('')%>退 出</div>
</div>  