<div class="rest-bg" style="padding-bottom:70px;">
    <nav class="common-title">
        <a href="#myIndex" class="common-return"></a>
        <h3><%=newChihuo.localize('profile_settings_header')%></h3>
    </nav>
    <div class="wrap-border clearfix" style="margin:20px 12px; padding:15px;">   
        <div class="setting-li clearfix">
            <a href="#praviteSetting">
            <span class="set-floor-title" style="color:#333; width:10em;"><%=newChihuo.localize('profile_settings_privacy')%></span>
            <p class="set-floor-select" style="margin-right:0;">
            <%if(privacy == 1){%><%=newChihuo.localize('profile_settings_privacy_accesstopublic')%>
                <%}else if(privacy == 2){%><%=newChihuo.localize('profile_settings_privacy_accesstofriends')%><%}else{%>
                <%=newChihuo.localize('profile_settings_privacy_accesstoselfonly')%>
                <%}%>
            </p>
            </a>
        </div>
        <div class="setting-li clearfix">
         <a href="#langSetting">
            <span class="set-floor-title" style="color:#333;width:10em;"><%=newChihuo.localize('profile_settings_language')%></span>
            <p class="set-floor-select" style="margin-right:0;">
               <%if(language == 1){%>English
                <%}else if(language == 2){%>
                简体中文
                <%}else if(language == 3){%>
                繁体中文
                 <%}else if(language == 4){%>
                Francais
                <%}else{%>
                Espanol
                <%}%>
            </p>
            </a>
        </div>  
        <div class="setting-li clearfix" style="display:none;">
         <a href="#userGuide">
            <span class="set-floor-title" style="color:#333;width:10em;"><%=newChihuo.localize('profile_settings_help')%></span>
            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
        </div> 
        <div class="setting-li clearfix">
         <a href="#praviteProtocol">
            <span class="set-floor-title" style="color:#333; width: 10em;"><%=newChihuo.localize('profile_settings_privacy_policy')%></span>
            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
        </div> 
        <div class="setting-li clearfix">
         <a href="#safeProtocol">
            <span class="set-floor-title" style="color:#333; width: 10em;"><%=newChihuo.localize('profile_settings_security_policy')%></span>
            <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </a>
        </div>  
    </div>
    <div class="quit-setting <%if(!newChihuo.getLocalStorage('customer_id')){%>no-effect-quit<%}%>" id='logout'><%=newChihuo.localize('profile_settings_logout')%></div>
    <div class="rest-fix-bottom">
     <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li id="msgRemind" <%if(!$.isEmptyObject(newChihuo.msgList)){%>class="message-remind"<%}%>>
         <a href="#chatAdd"><img src="imgs/sdx.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li style="width:24%; position:relative;">
        <a href="#chatChoose">
        <div class="rest-bottom-middle"></div>
        </a>
      </li>
       <li id="msgFeeds" <%if(newChihuo.activityNum){%>class="message-remind"<%}%>>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgIndex" class="cur <%if(!$.isEmptyObject(newChihuo.requestList)){%>message-remind<%}%>">
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>
</div>  