<div class="set-bg">
<div class="food-bg">
	<nav class="common-title">
		<a href="javascript:history.go(-1);" class="common-return" style="position:relative; z-index:1000;"></a>
		<h3><%=newChihuo.localize('shake_header')%></h3>
	</nav>
</div>
<div class="rest-list-wrap" style="padding:0 1%;">
		<div class="shake-new clearfix">
			<div class="table-head clearfix">
				<p>
				<span><%=newChihuo.localize('shake_cuisine')%></span>
				<span><%=newChihuo.localize('global_var_price')%></span>
				<span><%=newChihuo.localize('global_var_distance')%></span>
				</p>
			</div>
			<div class="table-cont">
			<div class="slot1" id="slot1">
				<ul id="slotMachine1">
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'cuisine'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'cuisine'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
				</ul>
			</div>
			<div class="slot2" id="slot2">
				<ul id="slotMachine2">
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'price'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'price'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'price'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'price'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'price'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'price'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'price'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'price'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
				</ul>
			</div>
			<div class="slot3" id="slot3">
				<ul id="slotMachine3">
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'distance'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'distance'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'distance'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'distance'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'distance'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'distance'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'distance'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
					<%_.each(data,function(d,i){%>
					    <%if(d.category == 'distance'){%>
						<li><p><%=d.name%></p></li>
					<%}})%>
				</ul>
			</div>
			</div>
			<div class="big-shake">
				<p></p>
			</div>
			<a href="javascript:;" class="lock-icon unlock-icon shake1" style="left:25%"></a>
			<a href="javascript:;" class="lock-icon unlock-icon shake2" style="left:50%"></a>
			<a href="javascript:;" class="lock-icon unlock-icon shake3" style="left:75%"></a>
		</div>
</div>
<div class="rest-fix-bottom">
    <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li id="msgRemind" <%if(!$.isEmptyObject(newChihuo.msgList)){%>class="message-remind"<%}%>>
         <a href="#chatAdd"><img src="imgs/sdx.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li>
         <a href="#mapSearch"><img src="imgs/map-button.png">
         <p>Map</p>
        </a>
      </li>
       <li id="msgFeeds" <%if(newChihuo.activityNum){%>class="message-remind"<%}%>>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgIndex" <%if(!$.isEmptyObject(newChihuo.requestList)){%>class="message-remind"<%}%>>
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>
</div>	
<div class="mask-shake">
	<div class="shake-info" style="display:none;">
		
	</div>
	<div class="shake-info" style="display:none;">
		<p class="shake-para-show">Not lucky! Restaurant not found,please shake again.</p>
	</div>
	<img src="imgs/mask-shake.png" class="shake-img">
</div>