<div>
    <div class="food-bg opacity-bg">
        <nav class="common-title">
            <a href="javascript:history.go(-1);" class="common-return"></a>
            <h3><%=newChihuo.localize('profile_footprint_checkins_header')%></h3>
        </nav>
        <div class="food-list-nav clearfix" id="signInTab">
            <a href="javascript:;" class="cur" style="width:30%; margin:0 10%;"><%=newChihuo.localize('global_var_restaurants')%></a>
            <a href="javascript:;" style="width:20%; margin:0 15%;"><%=newChihuo.localize('global_var_dishes')%></a>
        </div>
    </div>
<div class="rest-list-wrap">
   <div class="swiper-container" id="signIn-swiper">
   <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="tab-swiper-wrap">
            <%if(restData.length){%>
            <%_.each(restData,function(d,i){%>
                <div class="wrap-border clearfix">
                 <a href="#restaurant/<%=d.rest_id%>">
                    <div class="food-list-icon<%if(d.checkin_flg=='Y'){%>12<%}else{%>13<%}%>" style="margin:0;">
                    <%=chihuo.getRightTime(d.checkin_datetime)%>  <%=newChihuo.localize('global_var_ago')%>
                    </div>
                    <div class="food-img">
                        <img src="<%if(d.rest_photo_url){%><%=d.rest_photo_url%><%}else{%>imgs/map-img.jpg<%}%>">
                    </div>
                    <div style="margin-left:100px;">
                       <h3 class="rest-name-title"><%=d.rest_name%><!-- <img src='imgs/pass-icon.png'/> --></h3>
                        <p class="rest-info-show" style="padding-top:5px; margin-right:80px;"><%=d.cuisine_type%><span style="color:#ff8b4c; padding:0 10px;"><%=d.price_level%></span><span style="color:#0bbc13;"></span><br><%=d.city_name%>  <%=d.cust_distance%>
                    <br><%=d.total_rest_likes_perc%> <%=newChihuo.localize('global_var_like')%></p>
                    </div>
                    </a>
                </div>
             <%})%>
            <%}else{%>
                <div class="whoops restdata-wrap"></div>
            <%}%>
            </div>
        </div>
         <div class="swiper-slide">
            <div class="tab-swiper-wrap">
             <%if(miData.length){%>
            <%_.each(miData,function(d,i){%>
                <div class="wrap-border clearfix">
                    <div class="food-list-icon4" style="margin:0;">
                    <%=chihuo.getRightTime(d.created_datetime)%> <%=newChihuo.localize('global_var_ago')%>
                    </div>
                    <div class="food-img">
                        <img src="<%if(d.mi_photo_url){%><%=d.mi_photo_url%><%}else{%>imgs/map-img.jpg<%}%>">
                    </div>
                    <div style="margin-left:100px;">
                    <h3 class="rest-name-title"><%=d.mi_name%></h3>
                    <p class="rest-info-show" style="padding-top:5px; margin-right:80px;"><%=d.cuisine_type%><span style="color:#0bbc13;"><%=d.mi_unit_price%></span><br><%=d.cust_distance%>
                    <br><!-- 89% <%=newChihuo.localize('global_var_like')%> --></p>
                    </div>
                </div>
            <%})%>
            <%}else{%>
                <div class="whoops midata-wrap"></div>
            <%}%>    
            </div>    
        </div>
    </div>
</div>
 <div class="rest-fix-bottom">
    <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li>
        <a href="#chatAdd"><img src="imgs/detail-icon10.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li style="width:24%; position:relative;">
        <a href="#chatChoose">
        <div class="rest-bottom-middle"></div>
        </a>
      </li>
      <li>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgRemind" class="cur">
        <a href="javascript:;"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>  
</div>
<script type="text/javascript">
    var swiperSignIn = new Swiper('#signIn-swiper', {
        slidesPerView: 'auto',
        onSlideChangeEnd: function(swiper){
            $("#signInTab a").eq(swiper.activeIndex).addClass('cur').siblings().removeClass('cur');
        }

    });
</script>


