<div class="food-bg">
	<nav class="common-title">
		<a href="javascript:;" class="school-save" id="saveMobile">save</a>
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3><%if(type=='edit'){%>Edit<%}else{%>Add<%}%> Mobile</h3>
	</nav>
</div>
<div class="school-wrap">
	<div class="wrap-border clearfix" style="padding:15px 15px 0;"> 
       <b style="font-size:20px;">Please enter your mobile number:</b>  
       <div class="login-wrap" style="position:relative; margin-top:20px;">
          <i class="clear-input-val" id='clearPhoneDetail'></i>
          <input type="number" value="<%if(type=='edit' && initData.phoneIndexData.data){%><%=initData.phoneIndexData.data.cust_mobile_no%><%}%>" name="" id="mobileNum" placeholder="Mobile Number" style="padding-right:40px;">
          <span>*</span>
       </div>
        <p class="phone-para">We use your mobile number to secure your order and payment. We never ever share your pravicy with any other three parties.</p>
    </div>
    <%if(type=='edit'){%>
    <div class="quit-setting" style="background: #fb6700;" id="deleteMobile">Delete</div>
    <%}%>
</div>  
</div>
	