<div class="map-bg">
	<nav class="common-title">
		<a href="javascript:;" class="head-search-icon" style="background:none; padding:0;"><%=newChihuo.city%></a>
		<div class="search-common" style="margin-right:80px;">
		    <i></i>
			<a href="javascript:history.go(-1);" class="common-return"></a>
			<div style="margin:0 30px 0 40px;">
				<input type="text" name="" value="">
			</div>		
		</div>
	</nav>
</div>
<div class="map-wrap">
  <div id="leafletMap" style="height:100%;">
    
  </div>
</div>
<div class="map-fix-rest">
<div class="swiper-container" id="map2-swiper">
   <div class="swiper-wrapper" >
   <%_.each(data,function(d,i){%>
	    <div class="swiper-slide">
	    	<div class="tab-swiper-wrap" style="padding-top:10px;">
	    	<a href="#restaurant/<%=d.rest_id%>">
				<div class="wrap-border clearfix" style="position:relative; padding-bottom:0;">
				  <div class="rest-fav-this2"></div>
					<div class="map-rest-img">
						<img src="<%=d.rest_profile_photo_url%>">
						<i></i>
					</div>
           <div style="margin:0 5px 0 100px; position:relative;">
              <h3 class="rest-name-title" style="margin-right:10px;"><%=d.rest_name%></h3>
              <p class="rest-info-show" style="padding-top:0; height: 48px; overflow: hidden;">
              <%if(d.total_likes_perc){%><span class="reset-style reset-bg3" style="float:right; margin-top:1px;"><%=parseInt(d.total_likes_perc*100)%>%</span><%}%>
              <span style="color:#ff8b4c; padding-right:10px;"><%=d.rest_avg_pricelevel_per_person%></span><br><%=d.cuisine_type%> <%=newChihuo.showDistanceInfo(d.cust_distance)%></p>
              <p class="rest-info-show"  style="padding-top:0; font-size:12px; line-height:20px;"><%if(d.address){%><b class="address-set"><%=d.address%></b><%}%></p>
           </div>
				</div>
			</a>
			</div>
		</div>
	<%})%>	
	</div>
</div>	
</div>	
   <div class="rest-fix-bottom">
    <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li id="msgRemind" <%if(!$.isEmptyObject(newChihuo.msgList)){%>class="message-remind"<%}%>>
         <a href="#chatAdd"><img src="imgs/sdx.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li>
         <a href="#mapSearch"><img src="imgs/map-button.png">
         <p>Map</p>
        </a>
      </li>
       <li id="msgFeeds" <%if(newChihuo.activityNum){%>class="message-remind"<%}%>>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgIndex" <%if(!$.isEmptyObject(newChihuo.requestList)){%>class="message-remind"<%}%>>
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>
	<%if(data.length > 0){%>	
<script type="text/javascript">
	var swiperMap =  new Swiper('#map2-swiper', {
        slidesPerView: 'auto',
        onInit: function(swiper){
           chihuo.initMapOption(initData.restaurantListData.data);
           newChihuo.map && chihuo.initMapShow(initData.restaurantListData.data,swiper.activeIndex);
           
        },

        onSlideChangeStart: function(swiper){
           newChihuo.map && newChihuo.map.panTo({lat:initData.restaurantListData.data[swiper.activeIndex].address_latitude,lng:initData.restaurantListData.data[swiper.activeIndex].address_longitude});
           newChihuo.map && newChihuo.markerWrap[swiper.activeIndex-1 > 0 ? swiper.activeIndex-1 : 0].setIcon(newChihuo.myIcon2);
           newChihuo.map && newChihuo.markerWrap[swiper.activeIndex+1 < newChihuo.markerWrap.length ? swiper.activeIndex+1 : swiper.activeIndex].setIcon(newChihuo.myIcon2);
           newChihuo.map && newChihuo.markerWrap[swiper.activeIndex].setIcon(newChihuo.myIcon1).openPopup();               
        },

    });

    $('.radius-like').each(function(){
        var num = $(this).find('span').text();
        var radialObj = radialIndicator(this, {
              barColor: '#fb560a',
              barWidth: 10,
              radius: 30,
              displayNumber: false,
              roundCorner : true
        }); 
        radialObj.animate(num); 
      });
</script>	
<%}%>