<div class="set-bg">
	<div class="food-bg" style="position:relative; z-index:10;">
	    <nav class="common-title">
	        <a href="javascript:history.go(-1);" class="common-return"></a>
	        <h3><%=newChihuo.localize('chat_addchats')%></h3>
	    </nav>
	</div>  
	<div class="chat-apply-wrap" style="padding:8px 0;">
		<div class="search-set-input" style="background: #f2f6f9; position:relative;">
		    <img src="imgs/search-index.png" class="chat-search-icon">
			<i class="choose-clear"></i>
			<div style="margin:0 30px;">
				<form id="chatChooseForm">
					 <input type="text" name="" value="" class="invite-input" placeholder="Enter partial user or display name">
				</form>
			</div>		
		</div>
	</div>
	<div class="search-chihuo-list">
		
	</div>
	<div class="chat-people-list" style="margin-top:0;">
	<%if(data && data.length){%>
	<%_.each(data,function(d,i){%>
		<div class="rest-comment-head clearfix">
			<a href="javascript:;" class="go-message" id="<%=d.friend_cust_id%>" name=<%=d.friend_cust_name%> src=<%=(d.friend_cust_url || '')%>>
				<img src="<%if(d.friend_cust_url){%><%=d.friend_cust_url%><%}else{%>imgs/photo.png<%}%>" class="comment-left-img"> 
					<div class="comment-right-info">
						<h3 style="background:none;"><%=d.friend_cust_name%></h3>
						<p></p>
					</div>
			</a>
		</div>
	<%})%>	
	<%}else{%>
	<div class="whoops"></div>
	<%}%>    
	</div>      
</div>