<div class="set-bg">
<div class="food-bg" style="padding-bottom:15px;">
    <nav class="common-title">
        <a href="javascript:history.go(-1);" class="common-return"></a>
        <h3>邀请好友</h3>
    </nav>
</div>  
<div class="rest-list-wrap" style="padding-bottom:70px;">
<div class="wrap-border clearfix">
            <a href=""><img src="imgs/invite.png" class="invite-img"></a>
        </div>
        <div class="wrap-border clearfix" style="padding:0 15px;">   
            <div class="setting-li clearfix">
                <i class="chat-index-icon chat-icon1"></i><span class="set-floor-title" style="color:#333;width: 8em;">EMAIL邀请</span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </div>
            <div class="setting-li clearfix">
                <i class="chat-index-icon chat-icon2"></i><span class="set-floor-title" style="color:#333;width: 10em;">Facebook邀请</span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </div>  
            <div class="setting-li clearfix">
                <i class="chat-index-icon chat-icon3"></i><span class="set-floor-title" style="color:#333;width: 10em;">WECHAT邀请</span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </div> 
            <div class="setting-li clearfix">
                <i class="chat-index-icon chat-icon4"></i><span class="set-floor-title" style="color:#333;width: 6em;">QQ邀请</span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </div>
            <div class="setting-li clearfix" style="border-bottom: none;">
                <a href="#chatInvite">
                <i class="chat-index-icon chat-icon5"></i><span class="set-floor-title" style="color:#333;width: 12em;">手机 CONTACT邀请</span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
                </a>
            </div>           
        </div>
</div> 
<div class="rest-fix-bottom">
        <ul class="clearfix">
             <li class="cur">
                <a href="#"><img src="imgs/bottom-red1.png">
                <p>首页</p>
                </a>
              </li>
              <li id="msgRemind">
                <a href="#chatAdd"><img src="imgs/detail-icon10.png">
                <p>聊天</p>
                </a>
              </li>
              <li style="width:24%; position:relative;">
                <a href="#restaurantWishes">
                <div class="rest-bottom-middle"></div>
                </a>
              </li>
              <li>
                <a href="#myMessage2"><img src="imgs/bottom-h3.png">
                <p>动态</p>
                </a>
              </li>
              <li>
                <a href="#myIndex"><img src="imgs/bottom-h4.png">
                <p>我的</p>
                </a>
              </li>
        </ul>
    </div>     
</div>