<div class="set-bg">
	<div class="food-bg" style="padding-bottom:15px; position:relative; z-index:10;">
	    <nav class="common-title">
	        <a href="javascript:history.go(-1);" class="common-return"></a>
	        <h3><%=newChihuo.localize('chat_addcontacts')%></h3>
	    </nav>
	</div>  
	<div class="chat-apply-wrap" style="padding:15px 0;">
		<div class="search-set-input" style="background: #f2f6f9; position:relative;">
		    <img src="imgs/search-index.png" class="chat-search-icon">
			<i class="clear-input-value"></i>
			<div style="margin:0 30px;">
				<form id="chihuoSearch">
					<input type="text" name="" class="invite-input" value="" placeholder="<%=newChihuo.localize('profile_search_foodies')%>">
				</form>
			</div>		
		</div>
	</div>
	<div class="fix-name-list" style="display:none;">
		<span>#</span>
		<span>A</span>
		<span>B</span>
		<span>C</span>
		<span>D</span>
		<span>E</span>
		<span>F</span>
		<span>G</span>
		<span>H</span>
		<span>I</span>
		<span>J</span>
		<span>K</span>
		<span>L</span>
		<span>M</span>
		<span>N</span>
		<span>O</span>
		<span>P</span>
		<span>Q</span>
		<span>R</span>
		<span>S</span>
		<span>T</span>
		<span>U</span>
		<span>V</span>
		<span>W</span>
		<span>X</span>
		<span>Y</span>
		<span>Z</span>
	</div>
	<p class="friend-request-title"><a href="#chatEmail"><%=newChihuo.localize('')%>短信或者邮件邀请好友</a></p>
	<p class="friend-request-title <%if(!$.isEmptyObject(newChihuo.requestList)){%>request-point<%}%>" id="msgPoint2"><a href="#chatRequest"><%=newChihuo.localize('profile_my_friend_request')%></a></p>
	<div class="search-chihuo-list">
		
	</div>
	<p class="friend-request-title" style="background:#fff;"><a href="#chatRequest">my phonebook contacts</a></p>
	<%_.each(data,function(d,i){%>
	<%if(d.reg_flag){%>
	<div class="chat-people-list <%if(d.friend_flag){%>added-this<%}%>" style="margin:5px 12px;" name='<%=d.display_name%>' id='<%=d.customer_id%>' src='<%=d.profile_photo_url%>'>
		<div class="rest-comment-head clearfix">
		    <%if(d.friend_flag){%><span class="chat-add-word" customer="<%=d.customer_id%>">added</span><%}else{%><%if(d.sent_flag){%><span class="chat-add-word">sent</span><%}else{%><a href="#chatApply/<%=d.customer_id%>/<%=encodeURIComponent(d.display_name)%>"><button class="chat-add-button">add</button></a><%}}%>
			<img src="<%if(d.profile_photo_url){%><%=d.profile_photo_url%><%}else{%>imgs/photo.png<%}%>" class="comment-left-img"> 
				<div class="comment-right-info">
					<h3 style="background:none;"><%if(d.first_name){%><%=d.first_name%> 
					<%=d.last_name%><%}else{%><%=d.display_name%><%}%></h3>
					<p><%=(d.email_address || d.socail_media_id)%></p>
				</div>
		</div>
	</div>
	<%}})%>
</div>
<div class="rest-fix-bottom">
    <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li class="<%if(!$.isEmptyObject(newChihuo.msgList)){%>message-remind<%}%> cur" id="msgRemind">
         <a href="#chatAdd"><img src="imgs/sdx.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li style="width:24%; position:relative;">
        <a href="#chatChoose">
        <div class="rest-bottom-middle"></div>
        </a>
      </li>
      <li id="msgFeeds" <%if(newChihuo.activityNum){%>class="message-remind"<%}%>>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgIndex" <%if(!$.isEmptyObject(newChihuo.requestList)){%>class="message-remind"<%}%>>
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>