<div class="set-bg">
<div class="food-bg" style="padding-bottom:15px;">
    <nav class="common-title">
        <span class="chat-top-button"><i></i><i></i></span>
        <a href="javascript:history.go(-1);" class="common-return"></a>
        <h3><%=newChihuo.localize('main_chatbutton')%></h3>
    </nav>
</div>
<div class="chat-zone">
	<p><a href="#chatChoose"><%=newChihuo.localize('chat_newchat')%></a></p>
	<p><a href="#chatInvite"><%=newChihuo.localize('profile_contacts')%></a></p>
</div>  
<div class="chat-people-list" style="margin-top:20px;">
<%if(data && data.length){%>
<%_.each(data,function(d,i){%>
		<div class="rest-comment-head clearfix">
			<a href="#chatContent/<%=d.friend_cust_id%>/<%=encodeURI(d.friend_cust_name)%>">
		    <span class="chat-time"><%=chihuo.timestampToTime(d.created_datetime)%> <%=chihuo.getDate(d.created_datetime)%></span>
			<img src="<%if(d.friend_cust_url){%><%=d.friend_cust_url%><%}else{%>imgs/photo.png<%}%>" class="comment-left-img"> 
				<div class="comment-right-info">
					<h3 style="background:none;" <%if(chihuo.setMsgRemind(d.friend_cust_id)){%>class="chat-red-point"<%}%>><%=d.friend_cust_name%></h3>
					<p><%=d.lst_msg_dtl%></p>
				</div>
			</a>
		</div>
		<%})%>
<%}else{%>
<div class="whoops"></div>
<%}%>    
	</div>          
</div>
<div class="rest-fix-bottom">
    <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li class="<%if(!$.isEmptyObject(newChihuo.msgList)){%>message-remind<%}%> cur" id="msgRemind">
         <a href="#chatAdd"><img src="imgs/sdx.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li>
         <a href="#mapSearch"><img src="imgs/map-button.png">
         <p>Map</p>
        </a>
      </li>
      <li id="msgFeeds" <%if(newChihuo.activityNum){%>class="message-remind"<%}%>>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgIndex" <%if(!$.isEmptyObject(newChihuo.requestList)){%>class="message-remind"<%}%>>
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>