<div class="set-bg">
	<div class="food-bg" style="padding-bottom:15px; position:relative; z-index:10;">
	    <nav class="common-title">
	    	<span class="sub-comment chatApply" cust="<%=id%>">确定</span>
	        <a href="javascript:history.go(-1);" class="common-return"></a>
	        <h3>添加好友验证</h3>
	    </nav>
	</div>  
	<div class="chat-apply-wrap">
	    <p>请输入你是谁</p>
		<div class="search-set-input" style="background: #f2f6f9;">
			<i></i>
			<div style="margin:0 30px 0 20px;">
				<input type="text" name="" value="我是<%=decodeURIComponent(name)%>" placeholder="我是***">
			</div>		
		</div>
	</div>      
</div>