<div class="set-bg">
	<div class="food-bg" style="padding-bottom:15px; position:relative; z-index:10;">
	    <nav class="common-title">
	    	<span class="sub-comment chatApply" cust="<%=id%>"><%=newChihuo.localize('global_okbutton')%></span>
	        <a href="javascript:history.go(-1);" class="common-return"></a>
	        <h3><%=newChihuo.localize('add_friend')%></h3>
	    </nav>
	</div>  
	<div class="chat-apply-wrap">
	    <p><%=newChihuo.localize('please_enter_your_name')%></p>
		<div class="search-set-input" style="background: #f2f6f9;">
			<i class="clear-input-value"></i>
			<div style="margin:0 30px 0 20px;">
				<input type="text" name="" value="<%if(newChihuo.customer){%>I am <%=newChihuo.customer%><%}else{%><%=newChihuo.localize('i_am')%><%}%>">
			</div>		
		</div>
	</div>      
</div>