<div class="set-bg">
	<div class="food-bg" style="position:relative; z-index:10;">
	    <nav class="common-title">
	        <a href="javascript:history.go(-1);" class="common-return"></a>
	        <h3><%=newChihuo.localize('')%>Contacts</h3>
	    </nav>
	</div>  
	<div class="chat-apply-wrap" style="padding:8px 0;">
		<div class="search-set-input" style="background: #f2f6f9; position:relative;">
		    <img src="imgs/search-index.png" class="chat-search-icon">
			<i class="clear-input-value invite-clear"></i>
			<div style="margin:0 35px;">
				<form id="chihuoSearch">
					<input type="text" name="" class="invite-input" value="" placeholder="<%=newChihuo.localize('')%>Search Contacts">
				</form>
			</div>		
		</div>
	</div>
	<p class="friend-request-title"><a href="#chatEmail"><%=newChihuo.localize('')%>Invite Friends</a></p>
	<p class="friend-request-title <%if(!$.isEmptyObject(newChihuo.requestList)){%>request-point<%}%>" id="msgPoint2"><a href="#chatRequest/1"><%=newChihuo.localize('')%>Incoming friend request</a></p>
	<p class="friend-request-title" id="msgPoint2"><a href="#chatRequest/2"><%=newChihuo.localize('')%>Outgoing friend request</a></p>
	<div class="chat-people-list" style="margin-top:0;">
	<%if(data && data.length){%>
	<%_.each(data,function(d,i){%>
		<div class="rest-comment-head clearfix">
			<a href="javascript:;" class="go-message" id="<%=d.friend_cust_id%>" name=<%=d.friend_cust_name%> src=<%=(d.friend_cust_url || '')%>>
				<img src="<%if(d.friend_cust_url){%><%=d.friend_cust_url%><%}else{%>imgs/photo.png<%}%>" class="comment-left-img"> 
					<div class="comment-right-info">
						<h3 style="background:none;"><%=d.friend_cust_name%></h3>
						<p></p>
					</div>
			</a>
		</div>
	<%})%>	
	<%}%>    
	</div>      
	<!-- <%_.each(data,function(d,i){%>
	<%if(d.reg_flag){%>
	<div class="chat-people-list <%if(d.friend_flag){%>added-this<%}%>" style="margin:5px 12px;" name='<%=d.display_name%>' id='<%=d.customer_id%>' src='<%=d.profile_photo_url%>'>
		<div class="rest-comment-head clearfix">
		    <%if(d.friend_flag){%><span class="chat-add-word" customer="<%=d.customer_id%>">added</span><%}else{%><%if(d.sent_flag){%><span class="chat-add-word">sent</span><%}else{%><a href="#chatApply/<%=d.customer_id%>/<%=encodeURIComponent(d.display_name)%>"><button class="chat-add-button">add</button></a><%}}%>
			<img src="<%if(d.profile_photo_url){%><%=d.profile_photo_url%><%}else{%>imgs/photo.png<%}%>" class="comment-left-img"> 
				<div class="comment-right-info">
					<h3 style="background:none;"><%if(d.first_name){%><%=d.first_name%> 
					<%=d.last_name%><%}else{%><%=d.display_name%><%}%></h3>
					<p><%=(d.email_address || d.socail_media_id)%></p>
				</div>
		</div>
	</div>
	<%}})%> -->
</div>
<div class="rest-fix-bottom">
    <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li class="<%if(!$.isEmptyObject(newChihuo.msgList)){%>message-remind<%}%>" id="msgRemind">
         <a href="#chatAdd"><img src="imgs/sdx-cur.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
     <li class="cur">
         <a href="#mapSearch"><img src="imgs/map-button.png">
         <p>Map</p>
        </a>
      </li>
      <li id="msgFeeds" <%if(newChihuo.activityNum){%>class="message-remind"<%}%>>
        <a href="#myMessage2"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgIndex" <%if(!$.isEmptyObject(newChihuo.requestList)){%>class="message-remind"<%}%>>
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>