<div class="set-bg">
<div class="food-bg" style="padding-bottom:15px;">
    <nav class="common-title">
        <a href="javascript:history.go(-1);" class="common-return"></a>
        <h3><%=newChihuo.localize('invitefriends_header')%></h3>
    </nav>
</div>  
<div class="rest-list-wrap" style="padding-bottom:70px;">
<div class="wrap-border clearfix">
            <a href="##chatInvite"><div class="invite-img"><p>invite friends to join us</p></div></a>
        </div>
        <div class="wrap-border clearfix" style="padding:0 15px;">   
            <div class="setting-li clearfix">
                <i class="chat-index-icon chat-icon1"></i><span class="set-floor-title" style="color:#333;width: 8em;"><%=newChihuo.localize('invitefriends_email')%></span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </div>
            <div class="setting-li clearfix">
                <i class="chat-index-icon chat-icon2"></i><span class="set-floor-title" style="color:#333;width: 10em;"><%=newChihuo.localize('invitefriends_facebook')%></span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </div>  
            <div class="setting-li clearfix">
                <i class="chat-index-icon chat-icon3"></i><span class="set-floor-title" style="color:#333;width: 10em;"><%=newChihuo.localize('invitefriends_wechat')%></span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </div> 
            <div class="setting-li clearfix">
                <i class="chat-index-icon chat-icon4"></i><span class="set-floor-title" style="color:#333;width: 6em;"><%=newChihuo.localize('invitefriends_qq')%></span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
            </div>
            <div class="setting-li clearfix" style="border-bottom: none;">
                <a href="#chatInvite">
                <i class="chat-index-icon chat-icon5"></i><span class="set-floor-title" style="color:#333;width: 12em;"><%=newChihuo.localize('invitefriends_phonebook')%></span>
                <p class="set-floor-select" style="margin-right:0;">&nbsp;</p>
                </a>
            </div>           
        </div>
</div> 
<div class="rest-fix-bottom">
    <ul class="clearfix">
      <li>
        <a href="#"><img src="imgs/bottom-h1.png">
        <p><%=newChihuo.localize('home')%></p>
        </a>
      </li>
      <li class="cur">
        <a href="#chatAdd"><img src="imgs/detail-icon10.png">
        <p><%=newChihuo.localize('main_homebutton')%></p>
        </a>
      </li>
      <li style="width:24%; position:relative;">
        <a href="#chatChoose">
        <div class="rest-bottom-middle"></div>
        </a>
      </li>
      <li>
        <a href="javascript:;"><img src="imgs/bottom-h3.png">
        <p><%=newChihuo.localize('main_activitybutton')%></p>
        </a>
      </li>
      <li id="msgRemind">
        <a href="#myIndex"><img src="imgs/bottom-h4.png">
        <p><%=newChihuo.localize('main_profilebutton')%></p>
        </a>
      </li>
    </ul>
  </div>
</div>