<div class="set-bg">
	<div class="food-bg">
		<nav class="common-title">
			<a href="javascript:;" class="head-rest-icon"></a>
			<a href="javascript:history.go(-1);" class="common-return"></a>
			<h3>美食列表</h3>
		</nav>
		<ul class="rank-ul clearfix">
			<li><p><%=newChihuo.localize('global_var_like_percentage')%><i></i><i></i></p></li>
    		<li><p><%=newChihuo.localize('global_var_price')%><i></i><i></i></p></li>
    		<li class="cur toggle"><p><%=newChihuo.localize('global_var_distance')%><i></i><i></i></p></li>
		</ul>
	</div>
	<div class="rest-list-wrap">
		<div class="wrap-border clearfix" style="padding-top:0; position:relative;">
			<div class="swiper-container rest-list-swiper">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide"><a href="#restaurant"><img src="imgs/rest-list-img.jpg" class="banner-img"></a></div>
		            <div class="swiper-slide"><a href="#restaurant"><img src="imgs/rest-list-img.jpg" class="banner-img"></a></div>
		            <div class="swiper-slide"><a href="#restaurant"><img src="imgs/rest-list-img.jpg" class="banner-img"></a></div>
		        </div>
		        <!-- Add Pagination -->
		        <div class="swiper-pagination"></div>
		    </div>
		    <div class="rest-fav-this3" style="top:180px;"></div>
			<div class="right-like">
				76%<br>喜欢
			</div>
			<h3 class="rest-name-title">进口菲力牛排</h3>
			<p class="rest-info-show">重庆美食驻美国办事处 北京菜  10公里<br><span style="color:#ff8b4c; ">小于20加元</span><span style="color:#0bbc13;padding:0 10px;">20%off</span>800cals  盐:100mg<br>10 Minutes ago X customers were also interested in it</p>
		</div>
		<div class="wrap-border clearfix" style="padding-top:0; position:relative;">
			<div class="swiper-container rest-list-swiper">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide"><a href="#restaurant"><img src="imgs/rest-list-img.jpg" class="banner-img"></a></div>
		            <div class="swiper-slide"><a href="#restaurant"><img src="imgs/rest-list-img.jpg" class="banner-img"></a></div>
		            <div class="swiper-slide"><a href="#restaurant"><img src="imgs/rest-list-img.jpg" class="banner-img"></a></div>
		        </div>
		        <!-- Add Pagination -->
		        <div class="swiper-pagination"></div>
		    </div>
		    <div class="rest-fav-this3" style="top:180px;"></div>
			<div class="right-like">
				76%<br>喜欢
			</div>
			<h3 class="rest-name-title">进口菲力牛排</h3>
			<p class="rest-info-show">重庆美食驻美国办事处 北京菜  10公里<br><span style="color:#ff8b4c; ">小于20加元</span><span style="color:#0bbc13;padding:0 10px;">20%off</span>800cals  盐:100mg<br>5分钟前有10人关注和喜欢了</p>
		</div>
		<div class="wrap-border clearfix" style="padding-top:0; position:relative;">
			<div class="swiper-container rest-list-swiper">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide"><a href="#restaurant"><img src="imgs/rest-list-img.jpg" class="banner-img"></a></div>
		            <div class="swiper-slide"><a href="#restaurant"><img src="imgs/rest-list-img.jpg" class="banner-img"></a></div>
		            <div class="swiper-slide"><a href="#restaurant"><img src="imgs/rest-list-img.jpg" class="banner-img"></a></div>
		        </div>
		        <!-- Add Pagination -->
		        <div class="swiper-pagination"></div>
		    </div>
		    <div class="rest-fav-this3" style="top:180px;"></div>
			<div class="right-like">
				76%<br>喜欢
			</div>
			<h3 class="rest-name-title">进口菲力牛排</h3>
			<p class="rest-info-show">重庆美食驻美国办事处 北京菜  10公里<br><span style="color:#ff8b4c; ">小于20加元</span><span style="color:#0bbc13;padding:0 10px;">20%off</span>800cals  盐:100mg<br>5分钟前有10人关注和喜欢了</p>
		</div>
	<div class="rest-fix-right"></div>
	<div class="rest-fix-bottom">
		<ul class="clearfix">
             <li class="cur">
                <a href="#"><img src="imgs/bottom-red1.png">
                <p>首页</p>
                </a>
              </li>
              <li>
                <a href="#chatAdd"><img src="imgs/detail-icon10.png">
                <p>聊天</p>
                </a>
              </li>
              <li style="width:24%; position:relative;">
                <a href="#restaurantWishes">
                <div class="rest-bottom-middle"></div>
                </a>
              </li>
              <li class="message-remind">
                <a href="#myMessage2"><img src="imgs/bottom-h3.png">
                <p>动态</p>
                </a>
              </li>
              <li id="msgRemind">
                <a href="#myIndex"><img src="imgs/bottom-h4.png">
                <p>我的</p>
                </a>
              </li>
        </ul>
	</div>
</div>
<script>
    var swiperList = new Swiper('.rest-list-swiper', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
</script>    	