<div class="food-bg">
	<nav class="common-title">
		<a href="javascript:;" class="share"></a>
		<a href="javascript:history.go(-1);" class="common-return"></a>
		<h3><%=title%></h3>
	</nav>
	<div class="food-list-nav clearfix" >
	<%if(title == initData.restaurantData.data[0].rest_name){%>
		<div class="swiper-container" id='foodMenuTab'>
		   	<div class="swiper-wrapper">
			<%_.each(data, function(d,i) {%>
				 <div class="swiper-slide">
				 	<span class="<%if(i==0){%>cur<%}%>"><%=d[0].rest_menu_name%></span>
				 </div>
			<%})%>
			</div>
		</div>
	<%}%>	
		<!-- <span class="more-down-icon"></span> -->
	</div>
</div>
<div class="rest-list-wrap" style="padding-bottom:15px;">
<div class="swiper-container" id="foodMenu-swiper">
   <div class="swiper-wrapper">
   <%_.each(data, function(d,i) {%>
        <div class="swiper-slide">
            <div class="tab-swiper-wrap">
            <%_.each(d, function(d,i) {%>
				<div class="wrap-border clearfix" style="color:#999;">
					    <div class="<%if(d.mi_myfollowing_flg == 'N'){%>food-list-icon2<%}else{%>food-list-icon1<%}%>">
						</div>
						<a href="#food/<%=d.rest_id%>/<%=d.rest_menu_item_id%>">
						<div class="food-img">
							<img src="imgs/map-img.jpg">
						</div>
						</a>
						<div style="margin-left:100px; margin-right:50px;">
						<h3 class="rest-name-title" style="margin-right:10px;"><%=d.rest_mi_name%></h3>
						<div>
						<p class="para-hidden"><%if(d.rest_mi_desc){%><%=d.rest_mi_desc%></br><%}%><span style="color:#ff8b4c; padding:0 10px 0 0;"><%=d.mi_unit_price%></span><%if(d.mi_promo){%><span style="color:#0bbc13;"><%=d.mi_promo%></span><%}%><br><%if(d.mi_cals){%><%=d.mi_cals%><%}%>  <%if(d.mi_sodium){%><%=d.mi_sodium%><%}%>
						<br><%if(d.mi_tot_likes_perc){%><%=d.mi_tot_likes_perc%> <%=newChihuo.localize('global_var_like')%><%}%> <%if(d.total_other_custs){%> 10 Minutes ago <%=d.total_other_custs%> customers were also interested in it<%}%></p>
						</div>
					</div>
				</div>
			<%})%>
			</div>
		</div>
	<%})%>		
	</div>
</div>
</div>	
<!-- <a href="#" class="food-edit">发布评论</a> -->
<%if(data.length){%>
<script type="text/javascript">
    var swiperFoodMenu = new Swiper('#foodMenu-swiper', {
        slidesPerView: 'auto',
        onSlideChangeEnd: function(swiper){
            $("#foodMenuTab span").removeClass('cur').eq(swiper.activeIndex).addClass('cur');
            swiperFoodTab.slideTo(swiper.activeIndex);
        }

    });

    var swiperFoodTab = new Swiper('#foodMenuTab', {
        slidesPerView: 'auto'
    });
</script>	
<%}%>