<div class="food-bg">
		<nav class="common-title">
		    <a href="#restaurantMissing" class="go-missing">+</a>
			<a href="javascript:history.go(-1);" class="common-return"></a>
			<h3 style="margin:0 80px;"><%=newChihuo.localize('customize_filter')%></h3>
		</nav>
		<div class="food-list-nav clearfix">
			 <a href="javascript:;" class="cur" style="width:50%; margin:0 25%;"><%=newChihuo.localize('global_var_restaurants')%></a>
		</div>
</div>
<div class="search-set-wrap" style="padding-bottom:80px;">
<div class="swiper-container" id="searchSet-swiper">
   <div class="swiper-wrapper">
	    <div class="swiper-slide">
	    	<div class="tab-swiper-wrap">
			<div class="search-set-input" style="display:none;">
				<i></i>
				<div style="margin:0 30px 0 20px;">
					<input type="text" name="" value="" placeholder="<%=newChihuo.localize('customize_address')%>" class="set-address">
				</div>		
			</div>
			<div class="set-floor clearfix">
				<span class="set-floor-title"><%=newChihuo.localize('customize_distance')%></span>
				<div class="right-set-info clearfix" id='distance'>
					<%_.each(data,function(d,i){%>
					    <%if(d.custom_category == 'distance'){%>
						<span><%=d.name%></span>
					<%}})%>
				</div>
			</div>
			<div style=" height: 15px;"></div>
			<div class="set-floor clearfix" style="border-bottom:1px solid #e1e8ee; padding-bottom:5px;">
				<span class="set-floor-title"><%=newChihuo.localize('customize_rest_type')%></span>
				<div class="right-set-info clearfix" id='resttype'>
					<%_.each(data,function(d,i){%>
					    <%if(d.custom_category == 'facilitytp'){%>
						<span><%=d.name%></span>
					<%}})%>
				</div>
			</div>
			<div class="set-floor clearfix" style="border-bottom:1px solid #e1e8ee; padding-bottom:5px;">
				<span class="set-floor-title"><%=newChihuo.localize('customize_price')%></span>
				<div class="right-set-info clearfix" id='price'>
					<%_.each(data,function(d,i){%>
					    <%if(d.custom_category == 'price'){%>
						<span><%=d.name%></span>
					<%}})%>
				</div>
			</div>
			<div class="set-floor clearfix select-dish-mask" style="border-bottom:1px solid #e1e8ee; padding-bottom:5px;" query='1'>
				<span class="set-floor-title"><%=newChihuo.localize('customize_cuisine')%></span>
				<p class="set-floor-select" id='cuisine'>All</p>
			</div>
			<div class="set-floor clearfix" style="border-bottom:1px solid #e1e8ee; padding-bottom:5px;">
				<span class="set-floor-title"><%=newChihuo.localize('customize_tag')%></span>
				<div class="right-set-info set-feature clearfix" id='feature'>
					<%_.each(data,function(d,i){%>
					    <%if(d.custom_category == 'feature'){%>
						<span><%=d.name%></span>
					<%}})%>
				</div>
			</div>
			</div>
		</div>
	</div>	
</div> 
</div>
<div class="search-set-fix" style="width:100%; display:block;">
	<button class="clear-option"><%=newChihuo.localize('customize_clear')%></button>
	<button class="set-sure" id='setSure'><%=newChihuo.localize('customize_search')%></button>
</div>
<div class="search-mask">
    <div class="dish-mask-list">
    	<%_.each(data,function(d,i){%>
			<%if(d.custom_category == 'cuisine'){%>
				<p><%=d.name%></p>
		<%}})%>

    </div>	
</div>